########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:07
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-8.fasta
#    [-bsequence] data/fastas/85VASTdomains-20.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q22US2_TETTS_12111402
# 2: A9SDA2_PHYPA_232412
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 214
# Identity:      48/214 (22.4%)
# Similarity:    80/214 (37.4%)
# Gaps:          55/214 (25.7%)
# Score: 79.5
# 
#
#=======================================

Q22US2_TETTS_      1 --KFSDPVNGLKVNEVFKSFSDVYEYLKIKKFNDKNYQATKFLPPVPSFI     48
                       .|..|:.|..|                   .|:.|..:  ...:.|.|
A9SDA2_PHYPA_      1 VDDFPSPLAGGVV-------------------LDQRYAIS--AKALSSLI     29

Q22US2_TETTS_     49 HEVSSSEEEILQKIINSPHYSEREIKFTHPLPPSN------IPFMPKECQ     92
                     .:.|||..:.|..:..:..|||...|..     .|      :.:|....:
A9SDA2_PHYPA_     30 CKPSSSFFQELLTVQKTTEYSEEPWKSV-----KNDSIERVVSYMKAATK     74

Q22US2_TETTS_     93 VKEVLKA------YYVSDQMLILNIEAFTSGIPKGDSFSVRVRY--QFEQ    134
                     :.:.:||      ..:.|:..:|:|...|..:|.|.||.|.:::  ..|:
A9SDA2_PHYPA_     75 IIKSVKATETHTCRRLDDRGFVLDISCATPDVPCGTSFLVELQFCVMAER    124

Q22US2_TETTS_    135 IDPF---TVQLQQKSYLHFMQSTFLQGQIESNTIEQQRISAKVIIPFFEQ    181
                     ..|.   |.:|.....:.|:.||.::|.|||..    |...|.....|::
A9SDA2_PHYPA_    125 DLPVKEKTCRLLISWRIKFLHSTMIKGMIESGA----RAGIKETYEIFKE    170

Q22US2_TETTS_    182 IVSQY---ISNKQQ    192
                     |:|:|   ||.   
A9SDA2_PHYPA_    171 ILSKYAKPISE---    181


#---------------------------------------
#---------------------------------------
