########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:02
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-76.fasta
#    [-bsequence] data/fastas/85VASTdomains-34.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: I7MCY9_TETTS_788993
# 2: GRM1B_HUMAN_55233
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 229
# Identity:      43/229 (18.8%)
# Similarity:    76/229 (33.2%)
# Gaps:          73/229 (31.9%)
# Score: 80.0
# 
#
#=======================================

I7MCY9_TETTS_      1 KHYLSNKDFETFELVLENTHTREVFIEIFSDKQYKDYQSFSHFYQQTYIK     50
                                          .:.|.|..|.:||.: :.|:....:.|  
GRM1B_HUMAN_5      1 ---------------------VQAFYEDLSGRQYVN-EVFNFSVDKLY--     26

I7MCY9_TETTS_     51 DTNIDITPWQPAPSSIYTDVSSTNYQEFLESNQFSTKTNQFIHPVREKV-     99
                     |.....:|:|               ::|:|..:||   :...||.:::. 
GRM1B_HUMAN_5     27 DLLFTNSPFQ---------------RDFMEQRRFS---DIIFHPWKKEEN     58

I7MCY9_TETTS_    100 ---------------PMGPKTCQVNSEEKIFWLS--SEEILIQREFKVSK    132
                                    |:.|||..|...:.::..|  ||..:|..|.....
GRM1B_HUMAN_5     59 GNQSRVILYTITLTNPLAPKTATVRETQTMYKASQESECYVIDAEVLTHD    108

I7MCY9_TETTS_    133 VPMADCFTTQNFYHIQQTGPTTVKITFGFFINFVKS--SMFKSLIVKSSG    180
                     ||..|.|.|.|.|.:.:......::.....:.:.|.  .:.|:.|.|:  
GRM1B_HUMAN_5    109 VPYHDYFYTINRYTLTRVARNKSRLRVSTELRYRKQPWGLVKTFIEKN--    156

I7MCY9_TETTS_    181 SENRETWNG---KFKGLITEQIKFAQNQR    206
                          .|:|   .|:.|.:|..|..... 
GRM1B_HUMAN_5    157 -----FWSGLEDYFRHLESELAKTESTY-    179


#---------------------------------------
#---------------------------------------
