########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:42
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-63.fasta
#    [-bsequence] data/fastas/85VASTdomains-31.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q55CZ7_DICDI_2179
# 2: YHO0_YEAST_751934
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 282
# Identity:      30/282 (10.6%)
# Similarity:    48/282 (17.0%)
# Gaps:         202/282 (71.6%)
# Score: 31.5
# 
#
#=======================================

Q55CZ7_DICDI_      0 --------------------------------------------------      0
                                                                       
YHO0_YEAST_75      1 TVYKPAPNEKLVNESTIHASLGRVVNILFGKDVSYIMAILKAQKNSDISP     50

Q55CZ7_DICDI_      1 -----------------------------------------KILNLEEEF      9
                                                              :..||||  
YHO0_YEAST_75     51 IPVLVDSPTVSEGKKRDYSYVKTTPGAIGPGKTKCMITETIQHFNLEE--     98

Q55CZ7_DICDI_     10 RISVETFFTFFFENANFKQKYHSSRGDNQIEVKAWTPTSDNRYTREVSFC     59
                                     :.|...:::..:       .|:.::.|.|.|...
YHO0_YEAST_75     99 ----------------YVQVLQTTKTPD-------VPSGNSFYVRTVYLL    125

Q55CZ7_DICDI_     60 SFISNNPVINRLVGDKAKVKEVQHYKYIENGSLYVSSETFFDGSSIGKS-    108
                     |:.:||         :.|:|            ||||.|  :.|.|:.|| 
YHO0_YEAST_75    126 SWANNN---------ETKLK------------LYVSVE--WTGKSLIKSP    152

Q55CZ7_DICDI_    109 -----FSSVSEWT---VSPISNPLPGC----KVVIVVKNNYNGSMFKGVL    146
                          |..|::.|   |..:.|.|...    |                  
YHO0_YEAST_75    153 IEKGTFDGVTDATKILVEELGNILTRSATKRK------------------    184

Q55CZ7_DICDI_    147 ENWVHDTTEDSFKQWLTLVRQQVEEYEKNEQL    178
                                                     
YHO0_YEAST_75    184 --------------------------------    184


#---------------------------------------
#---------------------------------------
