########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:49
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-68.fasta
#    [-bsequence] data/fastas/85VASTdomains-29.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: YL072_YEAST_390578
# 2: A9RSX7_PHYPA_807992
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 205
# Identity:      31/205 (15.1%)
# Similarity:    69/205 (33.7%)
# Gaps:          35/205 (17.1%)
# Score: 34.5
# 
#
#=======================================

YL072_YEAST_3      1 QETMDFPYKPEANNEYVLLERQFSVPPGLLFIMMFNEDNPVFELSFLKTQ     50
                             :.:|::....|..:.::.|.:|.|     :.|:...|.|...
A9RSX7_PHYPA_      1 --------ERQADDSQPFLGFEQTIMPEVLVI-----EIPITAESVLAAV     37

YL072_YEAST_3     51 DSSNISHIGTFEKV--------------NKDGQHYREFQYTKQLHFPVGP     86
                     :::.:. :...||:              ...|.|.||..|..........
A9RSX7_PHYPA_     38 NNTKVD-LSISEKLGLAEYRATPWDHVEETIGAHQRELSYKLNRQISQFG     86

YL072_YEAST_3     87 KSTNCEVAEILLHCDWERYINVLSITRTPNVPSGTSFSTRT-RYMFRWDD    135
                     ...:|...:::.. |.::.: :..:.|..::|.|..|.... |.:.....
A9RSX7_PHYPA_     87 SRVSCNQQQVVTD-DLKKLV-IKEVLRYHDMPFGDHFEVHVKRELETLST    134

YL072_YEAST_3    136 QGQGCILKISFWVDWNASSWIKPMVESNCKNGQISATKDLVKL-VEEFVE    184
                     ......:|....|.|:.|:..:..:..|.........::|:.: |.|..|
A9RSX7_PHYPA_    135 NPVNTQVKAFVGVVWHKSTEAQKKITKNIYEHMAWQIQELIDITVAEVFE    184

YL072_YEAST_3    185 KYVEL    189
                     :.   
A9RSX7_PHYPA_    185 RS---    186


#---------------------------------------
#---------------------------------------
