########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:25
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-16.fasta
#    [-bsequence] data/fastas/85VASTdomains-54.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: C2GR2_ARATH_238426
# 2: Q8MKJ8_DROME_144324
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 202
# Identity:      49/202 (24.3%)
# Similarity:    84/202 (41.6%)
# Gaps:          34/202 (16.8%)
# Score: 123.5
# 
#
#=======================================

C2GR2_ARATH_2      1 MQSSDSEREEMPENLT--------GGVLVDQKYLVSPCELNKFLFTPSSQ     42
                                 |:||        |..|:.::.:|....|...||: :|.
Q8MKJ8_DROME_      1 ------------EDLTARCSASHEGRKLLQERLMVRVDALFNMLFS-ASP     37

C2GR2_ARATH_2     43 FRKELAELQGLSDVQEGPWTMMQEDTPRLTRVVTYMRAATKMVKAVKATE     92
                     |.:...|.:..:|:..|.|........:.|..:|....|....|..|.||
Q8MKJ8_DROME_     38 FLQSFHERRKSTDLNMGVWARNAGGQNQRTVSMTVALQANVGPKTAKITE     87

C2GR2_ARATH_2     93 NQVYRKAS--GKQFAVFVSVSTPDVPYGNTFKIELLYKILPETEPTAGGE    140
                     .|..|:.|  |:.:::.|.....|:||.:||.:.:.:.:....|     |
Q8MKJ8_DROME_     88 TQTMRECSQPGQLYSIDVQSVNADIPYADTFVVLMHFCLKATVE-----E    132

C2GR2_ARATH_2    141 ASRLIISWGIQFSQS--TIMKGMIEGGARQGLKESFEQ-FSNLLAKTYKT    187
                     .:.:::...|||.:|  .::|..||..|..||:|..:. :|.||.:..| 
Q8MKJ8_DROME_    133 HTDVLVFAEIQFLKSVWAVVKTFIERNAYAGLEEFCQSLYSALLIEIRK-    181

C2GR2_ARATH_2    188 LD    189
                       
Q8MKJ8_DROME_    181 --    181


#---------------------------------------
#---------------------------------------
