########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:55
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-35.fasta
#    [-bsequence] data/fastas/85VASTdomains-61.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: GRM1B_HUMAN_321502
# 2: V5IMN0_NEUCR_493676
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 193
# Identity:      38/193 (19.7%)
# Similarity:    76/193 (39.4%)
# Gaps:          20/193 (10.4%)
# Score: 86.5
# 
#
#=======================================

GRM1B_HUMAN_3      1 --EGEVQAFYEDLSGRQYVNEVFNFSVDKLYDLLF---TNSPFQRDFMEQ     45
                       .|:....|:.:.|    ::|....:.|:|:|||   :::...:..:..
V5IMN0_NEUCR_      1 TECGDAATHYDRVIG----DDVVPAPLGKVYNLLFGAPSSAWMTKWLLND     46

GRM1B_HUMAN_3     46 RRFSDIIFHPWKKEENGNQSRVILYTITLTNPLAPKTATVRETQTMYKAS     95
                     ::..:|.....|...|..::|...|...|...:.||......|:.:....
V5IMN0_NEUCR_     47 QKCFEINMDDKKGLNNEQKTRTFNYIKPLNASIGPKQTKCMVTEQLDNLD     96

GRM1B_HUMAN_3     96 QESECYVIDAEVLTH--DVPYHDYFYTINRYTLTRVARNKSRLRVSTELR    143
                     .|.   .::..|.|.  |||..:.|....:|.|:....|.:|::::..:.
V5IMN0_NEUCR_     97 FEK---AVNVTVSTQNPDVPNGNIFVVKTKYCLSWAENNATRVQINCTIE    143

GRM1B_HUMAN_3    144 YRKQPWGLVKTFIEKNFWSGLEDYFRHLESELAKTESTY----    182
                     :..:.|  :|..||:....|...|.:.|...|....|:.    
V5IMN0_NEUCR_    144 WSGKSW--LKGAIERGANEGQAQYAKDLFVALKAAVSSRPRSN    184


#---------------------------------------
#---------------------------------------
