########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:35
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-23.fasta
#    [-bsequence] data/fastas/85VASTdomains-53.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: A9TQF1_PHYPA_8201003
# 2: D0MXP9_PHYIT_9571148
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 224
# Identity:      48/224 (21.4%)
# Similarity:    75/224 (33.5%)
# Gaps:          72/224 (32.1%)
# Score: 80.0
# 
#
#=======================================

A9TQF1_PHYPA_      1 DDADTFTG-----MEEANMVNVCAFDIPLTMDSAMSLFEKGRLEEVVAEK     45
                     .|.||...     |:|....::......|.::|  ..|.:..||...|.|
D0MXP9_PHYIT_      1 PDKDTLLSEYDMLMDEEVEFSIATAYATLWVES--DTFSRNVLEAAGATK     48

A9TQF1_PHYPA_     46 MGYINFVSTP-WER-------------LEGQNNVQRRQVSYHLNRQISQF     81
                           :|.| ||:             .:|.     |.|||..|::....
D0MXP9_PHYIT_     49 ------ISLPAWEKKSTSYTAVTSPDTFDGS-----RVVSYTHNKKYMVG     87

A9TQF1_PHYPA_     82 GSKVSCIQQK--TMLDNMKLYILDEVLTLHDVPFGDHFQVQVRRDIETTS    129
                     .|.:...|.:  ....|.:| ::.....:.|||:.|:|:|:.|.....|.
D0MXP9_PHYIT_     88 PSVIPTTQTQRYAYKPNSRL-VVSTTTCVSDVPYCDYFRVEHRWVFSATK    136

A9TQF1_PHYPA_    130 INPPKSSVKAYVG--VSWHKNTEFKKKITKNVQDHMAKEIREAMNVSVKE    177
                        .:....|.||  |.|.|:|..||:|.               :.:|.|
D0MXP9_PHYIT_    137 ---KRGVCLAQVGLRVQWMKSTWLKKQIE---------------STTVTE    168

A9TQF1_PHYPA_    178 VKALVKD-----------------    184
                     .|..:|.                 
D0MXP9_PHYIT_    169 AKDAIKSWLNAAHDTIKENSSTSS    192


#---------------------------------------
#---------------------------------------
