########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:12
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-45.fasta
#    [-bsequence] data/fastas/85VASTdomains-20.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: J3KR86_HUMAN_127303
# 2: A9SDA2_PHYPA_232412
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 189
# Identity:      43/189 (22.8%)
# Similarity:    83/189 (43.9%)
# Gaps:          20/189 (10.6%)
# Score: 117.0
# 
#
#=======================================

J3KR86_HUMAN_      1 ALLPD----LSGRLLINSVFHVGAERLQQMLFS-DSPFLQGFLQQCKFTD     45
                       :.|    |:|.::::..:.:.|:.|..::.. .|.|.|..|...|.|:
A9SDA2_PHYPA_      1 --VDDFPSPLAGGVVLDQRYAISAKALSSLICKPSSSFFQELLTVQKTTE     48

J3KR86_HUMAN_     46 VTLSPWSGDSKCHQRRVLTYTIPISNPLGPKSASVVETQTLFRRGPQAGG     95
                     .:..||.........||::|....:..:  ||....||.|..|...:  |
A9SDA2_PHYPA_     49 YSEEPWKSVKNDSIERVVSYMKAATKII--KSVKATETHTCRRLDDR--G     94

J3KR86_HUMAN_     96 CVVDSEVLTQGIPYQDYFYTAHRYCI-----LGLARNKARLRVSSEIRYR    140
                     .|:|....|..:|....|....::|:     |.:.....||.:|..|::.
A9SDA2_PHYPA_     95 FVLDISCATPDVPCGTSFLVELQFCVMAERDLPVKEKTCRLLISWRIKFL    144

J3KR86_HUMAN_    141 KQPWSLVKSLIEKNSWSGIEDYFHHLERELAK-AEKLS-    177
                     ..  :::|.:||..:.:||::.:...:..|:| |:.:| 
A9SDA2_PHYPA_    145 HS--TMIKGMIESGARAGIKETYEIFKEILSKYAKPISE    181


#---------------------------------------
#---------------------------------------
