########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:15
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-84.fasta
#    [-bsequence] data/fastas/85VASTdomains-40.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B8LDM5_THAPS_9291109
# 2: GRM1C_MOUSE_107289
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 205
# Identity:      36/205 (17.6%)
# Similarity:    73/205 (35.6%)
# Gaps:          46/205 (22.4%)
# Score: 73.5
# 
#
#=======================================

B8LDM5_THAPS_      1 -----------------VGLEVDLPVGFKRLRWALLHSDSKFLKDAFFGP     33
                                      :.:.....:..:|: :.||.:.|.|::.  |..
GRM1C_MOUSE_1      1 SDSVDEENIPEKDLQGRLYINRVFHISAERM-FELLFTSSHFMQR--FAN     47

B8LDM5_THAPS_     34 VMNYADITMGSWSKNNNDIGLPTTPEAVNEEDFLNATLEFSYLMPKSAFV     83
                     ..|..|:....|:..:....|.|....:    .|:..|...|   .:|..
GRM1C_MOUSE_1     48 SRNIIDVVSTPWTVESGGNQLRTMTYTI----VLSNPLTGKY---TAATE     90

B8LDM5_THAPS_     84 KANMCYATHEIIYYDDYSLVIKEKTLTPEVPYGNSFIAWTQYNLVSTGKN    133
                     |..:...:.|..:|     ::..:.||.:|||.:.|....:|.:|.:.|.
GRM1C_MOUSE_1     91 KQTLYKESREAQFY-----LVDSEVLTHDVPYHDYFYTLNRYCIVRSAKQ    135

B8LDM5_THAPS_    134 NCRMVCSVEAEFPNGP-----PMVARQIKSGMRS--GTAEKFVLLGETIC    176
                     .||:..|.:.::...|     .::.:...|.:.|  ...|..:|:.|:  
GRM1C_MOUSE_1    136 RCRLRVSTDLKYRKQPWGLIKSLIEKNSWSSLESYFKKLESDLLMEES--    183

B8LDM5_THAPS_    177 RYADA    181
                          
GRM1C_MOUSE_1    183 -----    183


#---------------------------------------
#---------------------------------------
