########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:01
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-39.fasta
#    [-bsequence] data/fastas/85VASTdomains-40.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B3KUR5_HUMAN_45223
# 2: GRM1C_MOUSE_107289
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 183
# Identity:     154/183 (84.2%)
# Similarity:   171/183 (93.4%)
# Gaps:           4/183 ( 2.2%)
# Score: 829.0
# 
#
#=======================================

B3KUR5_HUMAN_      1 ----QIENVPEKDLHGRLFINRIFHISADRMFELLFTSSRFMQKFASSRN     46
                         ..||:|||||.|||:|||:|||||:||||||||||.|||:||:|||
GRM1C_MOUSE_1      1 SDSVDEENIPEKDLQGRLYINRVFHISAERMFELLFTSSHFMQRFANSRN     50

B3KUR5_HUMAN_     47 IIDVVSTPWTAELGGDQLRTMTYTIVLNSPLTGKCTAATEKQTLYKESRE     96
                     ||||||||||.|.||:|||||||||||::|||||.|||||||||||||||
GRM1C_MOUSE_1     51 IIDVVSTPWTVESGGNQLRTMTYTIVLSNPLTGKYTAATEKQTLYKESRE    100

B3KUR5_HUMAN_     97 ARFYLVDSEVLTHDVPYHDYFYTVNRYCIIRSSKQKCRLRVSTDLKYRKQ    146
                     |:|||||||||||||||||||||:|||||:||:||:||||||||||||||
GRM1C_MOUSE_1    101 AQFYLVDSEVLTHDVPYHDYFYTLNRYCIVRSAKQRCRLRVSTDLKYRKQ    150

B3KUR5_HUMAN_    147 PWGLVKSLIEKNSWSSLEDYFKQLESDLLIEES    179
                     ||||:|||||||||||||.|||:||||||:|||
GRM1C_MOUSE_1    151 PWGLIKSLIEKNSWSSLESYFKKLESDLLMEES    183


#---------------------------------------
#---------------------------------------
