########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:16
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-47.fasta
#    [-bsequence] data/fastas/85VASTdomains-80.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: GRM1A_MOUSE_365539
# 2: Q23QL2_TETTS_311513
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 243
# Identity:      43/243 (17.7%)
# Similarity:    67/243 (27.6%)
# Gaps:         108/243 (44.4%)
# Score: 75.5
# 
#
#=======================================

GRM1A_MOUSE_3      0 --------------------------------------------------      0
                                                                       
Q23QL2_TETTS_      1 EVSTKAKWTSIDIKNVSAKEIYILFFGNNIFEDEKQVAYTNFGMYYNTTV     50

GRM1A_MOUSE_3      1 LPDLSGRLLINSVFHMGAERLQQMLFSD---SP--FLQGFLQQRKFTDVT     45
                     |.:|:                  |::||   .|  :........|...:.
Q23QL2_TETTS_     51 LNELN------------------MVYSDIVPEPPLYFTNLYDNNKLEIID     82

GRM1A_MOUSE_3     46 LSPWSSDSKCHQRRVLTYTIPISNQLGPKSASVVETQTLFRRGPQAGGCV     95
                     .:.:|: .||      |:|..|.....|||......:.::...|:.  .:
Q23QL2_TETTS_     83 YAEYST-RKC------TFTHIIKEPFMPKSCDCFIEEKIYWVSPKE--IL    123

GRM1A_MOUSE_3     96 VDSEVLTQGIPYQDYFYTAHRYCILGLARN---KARLRVSSEIRYRKQPW    142
                     ::.|:..||||...:|.....|.||....:   |.::|....|.|.|..|
Q23QL2_TETTS_    124 IERELAFQGIPLSSHFNPRVIYQILETGESDQIKTQIRSGYYIHYVKDTW    173

GRM1A_MOUSE_3    143 SLVKSLIEKNSWSGIEDYFHHLDRELAKA-EKLS---------    175
                       .||.|:|.|           |.|..|. ||:|         
Q23QL2_TETTS_    174 --FKSKIDKTS-----------DEENIKNWEKISKLYIKYSEI    203


#---------------------------------------
#---------------------------------------
