########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:15
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-47.fasta
#    [-bsequence] data/fastas/85VASTdomains-13.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: GRM1A_MOUSE_365539
# 2: C2GR1_ARATH_8441019
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 221
# Identity:      37/221 (16.7%)
# Similarity:    69/221 (31.2%)
# Gaps:          91/221 (41.2%)
# Score: 56.0
# 
#
#=======================================

GRM1A_MOUSE_3      1 LPDLSGRLLINSVFHMGAERLQQMLFSD----------SPFLQGF-----     35
                                         :..:.||:          |.|::.|     
C2GR1_ARATH_8      1 --------------------VDDVRFSEVFSLTLPVPVSFFMELFGGGEV     30

GRM1A_MOUSE_3     36 ----LQQRKFTDVTLSPWSSDSKCHQRRVLTYTIPISNQLGPKSASVVET     81
                         :::......:.|||.|:..                      .|.|.
C2GR1_ARATH_8     31 DRKAMERAGCQSYSCSPWESEKD----------------------DVYER     58

GRM1A_MOUSE_3     82 QTLFR-------RG-----------PQAGGCVVDSEVLTQGIPYQDYFYT    113
                     ||.:|       ||           |:..|.:|:..:...|:|..|||..
C2GR1_ARATH_8     59 QTYYRDKRISRYRGEVTSTQQKSLVPEKNGWLVEEVMTLHGVPLGDYFNL    108

GRM1A_MOUSE_3    114 AHRYCILGLARNKAR---LRVSSEIRYRKQPWSLVKSLIEKNSWSGIED-    159
                     ..|| .:..:.:|.:   :||...|.:.|.  :..:..:.||....::| 
C2GR1_ARATH_8    109 HLRY-QMEESTSKPKTTYVRVYFGIEWLKS--TRHQKRVTKNILVNLQDR    155

GRM1A_MOUSE_3    160 ---YFHHLDRELAKAEKLS--    175
                        .|..|::|.:..::..  
C2GR1_ARATH_8    156 LKMTFGFLEKEYSSRQQQQQV    176


#---------------------------------------
#---------------------------------------
