########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:58
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-73.fasta
#    [-bsequence] data/fastas/85VASTdomains-76.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q8VZF8_ARATH_257370
# 2: I7MCY9_TETTS_788993
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 215
# Identity:      25/215 (11.6%)
# Similarity:    38/215 (17.7%)
# Gaps:         110/215 (51.2%)
# Score: 34.0
# 
#
#=======================================

Q8VZF8_ARATH_      1 FNWKPEDTDAPKLSS-DFTKVAEAKFSIPVEEFFRLFFSDGAVSFVESF-     48
                              ...||: ||........:....|.|...|||......:|| 
I7MCY9_TETTS_      1 ---------KHYLSNKDFETFELVLENTHTREVFIEIFSDKQYKDYQSFS     41

Q8VZF8_ARATH_     49 ----HKNCGDKEFRCTSWQP------------------HEKLGHTRNVSF     76
                         .....|.....|.|||                  ......|:...|
I7MCY9_TETTS_     42 HFYQQTYIKDTNIDITPWQPAPSSIYTDVSSTNYQEFLESNQFSTKTNQF     91

Q8VZF8_ARATH_     77 QHPI--KIYFGAKFGGCQESQKFRMYRNSHLVIETSHRSA----------    114
                     .||:  |:..|.|.......:|.....:..::|:...:.:          
I7MCY9_TETTS_     92 IHPVREKVPMGPKTCQVNSEEKIFWLSSEEILIQREFKVSKVPMADCFTT    141

Q8VZF8_ARATH_    114 --------------------------------------------------    114
                                                                       
I7MCY9_TETTS_    142 QNFYHIQQTGPTTVKITFGFFINFVKSSMFKSLIVKSSGSENRETWNGKF    191

Q8VZF8_ARATH_    114 ---------------    114
                                    
I7MCY9_TETTS_    192 KGLITEQIKFAQNQR    206


#---------------------------------------
#---------------------------------------
