########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:07
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-79.fasta
#    [-bsequence] data/fastas/85VASTdomains-64.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B8BUE2_THAPS_254437
# 2: F8WJ74_MOUSE_365496
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 213
# Identity:      32/213 (15.0%)
# Similarity:    52/213 (24.4%)
# Gaps:         110/213 (51.6%)
# Score: 41.5
# 
#
#=======================================

B8BUE2_THAPS_      1 KVKQQSKDWESAVANLKLPFPTVSSFFDTCLSNEARNPLSIFHGNVMGDK     50
                                        .|.:|.   ..|.|      |:||   ||.:
F8WJ74_MOUSE_      1 -------------------LPDLSG---RLLIN------SVFH---MGAE     19

B8BUE2_THAPS_     51 -----------------------NISISGWERDEKAAAAHSDESSSRTIR     77
                                            ::::|.|..|.|   .|.....:.||.
F8WJ74_MOUSE_     20 RLQQMLFSDSPFLQGFLQQRKFTDVTLSPWSSDSK---CHQRRVLTYTIP     66

B8BUE2_THAPS_     78 FEHKSRVNTAQVTRNQTYRCYGKNA--CLKNVTNI-KGVPSADAFFAEDM    124
                     ..::....:|.|...||....|..|  |:.:...: :|:|..|.|:....
F8WJ74_MOUSE_     67 ISNQLGPKSASVVETQTLFRRGPQAGGCVVDSEVLTQGIPYQDYFYTAHR    116

B8BUE2_THAPS_    125 WLIEPVEDGVVLN---VRFRLTFSKSTMLKSIIESRARAETLEWYRQYTS    171
                     :.|.    |:..|   :|.|                              
F8WJ74_MOUSE_    117 YCIL----GLARNKARLRNR------------------------------    132

B8BUE2_THAPS_    172 FMVAANQRKISTQ    184
                                  
F8WJ74_MOUSE_    132 -------------    132


#---------------------------------------
#---------------------------------------
