########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:13
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-46.fasta
#    [-bsequence] data/fastas/85VASTdomains-26.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q55FU7_DICDI_479662
# 2: YSP2_YEAST_8411021
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 202
# Identity:      40/202 (19.8%)
# Similarity:    80/202 (39.6%)
# Gaps:          39/202 (19.3%)
# Score: 122.5
# 
#
#=======================================

Q55FU7_DICDI_      1 KDQQPQSILESQSSDFQE------ILSDNFNVSVVNFYRALYSDRCNFVH     44
                               ..::||:.      ::..|.|..:......||.:..::..
YSP2_YEAST_84      1 ----------PTTADFKPSNNDHLVIEANINAPLGKVVNLLYGEDVSYYE     40

Q55FU7_DICDI_     45 SYHVKRGDMNVNVKPWTFRERFGT--IREVEYVAPVSSPIGPDKTR--IQ     90
                       .:.:...|..:.|  ....|.|  ||:..|..|:|..|||.||:  |.
YSP2_YEAST_84     41 --RILKAQKNFEISP--IPNNFLTKKIRDYAYTKPLSGSIGPSKTKCLIT     86

Q55FU7_DICDI_     91 ETQRYQLTRKKLIVETDTIMLDIPYGDHFRIEAKWEVTETSQDTCRLSIS    140
                     :|..:......:.|.:.|...|:|.|:.|.::..:..:....::.:|::.
YSP2_YEAST_84     87 DTLEHYDLEDYVKVLSITKNPDVPSGNIFSVKTVFLFSWDKNNSTKLTVY    136

Q55FU7_DICDI_    141 LTVRFVKKTWFKSKIETTTVKETKTSFDKWVQLAKVEVQKMLQV------    184
                     .:|.:..|:|.||.||       |.:||......|:.:.::.::      
YSP2_YEAST_84    137 NSVDWTGKSWIKSMIE-------KGTFDGVADTTKIMISEIKKILSDEDS    179

Q55FU7_DICDI_    184 --    184
                       
YSP2_YEAST_84    180 NI    181


#---------------------------------------
#---------------------------------------
