########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:02
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-4.fasta
#    [-bsequence] data/fastas/85VASTdomains-28.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q5Z6I4_ORYSJ_8571036
# 2: A9RSX7_PHYPA_212394
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 217
# Identity:      37/217 (17.1%)
# Similarity:    62/217 (28.6%)
# Gaps:          71/217 (32.7%)
# Score: 50.5
# 
#
#=======================================

Q5Z6I4_ORYSJ_      1 ------------NNESDSFLGIEDAKMSEVFSSTKPFDVSTLMSIFEGGP     38
                                 ....|...|:....::.:.  .||           |..
A9RSX7_PHYPA_      1 PSSVEIPLPLSGGVLLDQTYGVSSKALNAIL--FKP-----------GST     37

Q5Z6I4_ORYSJ_     39 LEHQVMEKIGCMEYSVSPWESVRADAYQRQIHY-----KFDKRLARHEGE     83
                     ....::|.....||...||........:|...|     |..|.|...|  
A9RSX7_PHYPA_     38 FVRDLVEAQKSTEYMEEPWRKAGNGLMKRVTSYIKAASKLVKALKATE--     85

Q5Z6I4_ORYSJ_     84 VMSTQQKSPLPDKNGWLVEEVMTLEGIPVGEYFNLHMRYQLEQISSKP--    131
                      :.|..::   |:..:.|.........|.|..|.:.::.   .|||:|  
A9RSX7_PHYPA_     86 -VQTYTRA---DEMCYCVLSTCATPDAPYGGTFVVEVQI---TISSRPDF    128

Q5Z6I4_ORYSJ_    132 ----KACNVQVSIGIAWLK--------------SCKNRKKIAQEVLSSAS    163
                         |.|::|:|..:.:|:              ..|....|.|:||:...
A9RSX7_PHYPA_    129 LGGMKCCHLQISYNVNFLQKSMMKGMIEGGVRTGIKETYAIYQDVLAKHV    178

Q5Z6I4_ORYSJ_    164 SRLKKMFGLLEKELLPA    180
                     .|:..            
A9RSX7_PHYPA_    179 QRVSV------------    183


#---------------------------------------
#---------------------------------------
