########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:07
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-42.fasta
#    [-bsequence] data/fastas/85VASTdomains-55.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: I7M7X5_TETTS_10131226
# 2: D0NMG0_PHYIT_279489
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 248
# Identity:      51/248 (20.6%)
# Similarity:    99/248 (39.9%)
# Gaps:          71/248 (28.6%)
# Score: 125.5
# 
#
#=======================================

I7M7X5_TETTS_      1 --KQQSIFEKAQNVSEFEIKFPNATPREIFNILFGLKPYKPQPEGSQEFP     48
                       ....:..|...:.:.|::   |..:.:|::|:...|       .|||.
D0NMG0_PHYIT_      1 PLPPDPLLGKMTVLLDCELR---ADVKRVFDLLWNDGP-------GQEFS     40

I7M7X5_TETTS_     49 NFRFYIFQEFQKDTDIQFQTFNPPPPEWYTNLDCSDKDT---VKSSPEIS     95
                     :..    .|..::.||..:::.|        ||.:|..|   |:...|||
D0NMG0_PHYIT_     41 HSN----MEKARNIDIDIESWKP--------LDKADAVTAAEVRKGFEIS     78

I7M7X5_TETTS_     96 NLE----FKVV---HPVREKIPFGPKVSYCQNKEKY----------FWIS    128
                     ..:    :::|   ||.:...|..|..:.|...:::          .|  
D0NMG0_PHYIT_     79 KEDDYTLYRMVRSQHPPKTSFPGLPPYAGCTRTQRFRLDKSSNGGDKW--    126

I7M7X5_TETTS_    129 AEEFIIEREIFLSKIPYCDYFTIRFQYNISQ-VQDQTRILIKLYVHFMKS    177
                      :.|:|.....:||||:.|||.:..::..|: ..:...:...|.|:|:|:
D0NMG0_PHYIT_    127 -DRFVITELNRMSKIPFSDYFEVEMRFVFSRDGNNYCHVQAGLVVNFLKA    175

I7M7X5_TETTS_    178 TTFKGRIENGSLSENTEVINTVFTPQAQIAIQNYQKF-----------    214
                     |.||.:|.:.:.||:.|            |::::.|.           
D0NMG0_PHYIT_    176 TWFKSQINSSTRSESKE------------ALESWAKQAIEFLESQRNR    211


#---------------------------------------
#---------------------------------------
