########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:43
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-63.fasta
#    [-bsequence] data/fastas/85VASTdomains-62.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q55CZ7_DICDI_2179
# 2: B9G4T6_ORYSJ_322427
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 180
# Identity:      20/180 (11.1%)
# Similarity:    41/180 (22.8%)
# Gaps:          76/180 (42.2%)
# Score: 52.0
# 
#
#=======================================

Q55CZ7_DICDI_      1 KILNLEEEFRISVETFFTFFFENANFKQKYHSSRGDNQIEVKAWTPTSDN     50
                                                                       
B9G4T6_ORYSJ_      0 --------------------------------------------------      0

Q55CZ7_DICDI_     51 RYTREVSFCSFISNNPVINRLVGDK-AKVKEVQHYKYIENGSLYVSSETF     99
                                          .|.| ...:|||..:..:|..|.:.:...
B9G4T6_ORYSJ_      1 ---------------------KGAKFGSCQEVQKLRVYKNRHLMIQTSQQ     29

Q55CZ7_DICDI_    100 FDGSSIGKSFSSVSEWTVSPISNPLPGCKVVIVVKNNYN-GSMFKGVLEN    148
                     ...:..|..|:....|.|...|.....|.:.:.:...:: .::|:|.::.
B9G4T6_ORYSJ_     30 IGDAPYGDHFTVEGIWDVEQDSLDESSCYLRVYINVAFSKKTIFRGKIDQ     79

Q55CZ7_DICDI_    149 WVHDTTEDSFKQWLTLVRQQVEEYEKNEQL    178
                     ...|...|.|..|:.|....:::....   
B9G4T6_ORYSJ_     80 STKDECRDVFGLWVKLGHDLLKQDSSC---    106


#---------------------------------------
#---------------------------------------
