########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:25
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-52.fasta
#    [-bsequence] data/fastas/85VASTdomains-59.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q86AF7_DICDI_286471
# 2: B9F0Z0_ORYSJ_387537
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 196
# Identity:      36/196 (18.4%)
# Similarity:    66/196 (33.7%)
# Gaps:          55/196 (28.1%)
# Score: 51.5
# 
#
#=======================================

Q86AF7_DICDI_      1 VECKDMSTTAKINQLQHYVNERFEISCIKFYTLMIDSDFWAYVSKECGFL     50
                                 ...|.::||.          :::|:             
B9F0Z0_ORYSJ_      1 ------------KAFQPFINEH----------VLVDA-------------     15

Q86AF7_DICDI_     51 DMKESEWVTSESCCHQERTLNFKTPISFKIGPKVATVQQTQK--IRRTPT     98
                      ...|:|..|:....:.|.:.|::.....:.|....|.:.|:  ..:..|
B9F0Z0_ORYSJ_     16 -TSLSKWYPSDEYGGKIREVMFRSLCHSPLCPPDTAVTEWQRASFSKNKT     64

Q86AF7_DICDI_     99 NGYVMETSSLSKDVPYGDSFSVENYLTLEPCPESPQDSCILKVSTAVKFI    148
                     | .:.||...:.|||:|..|.:.....|.....|   :|.:.:...|...
B9F0Z0_ORYSJ_     65 N-LIYETKHQAHDVPFGSYFEIHCRWHLRTTSSS---TCQVDIKIGVNMK    110

Q86AF7_DICDI_    149 KSIWGLGGLIEKTVTQSNKEF--FACWINFA------KKRISDQAS    186
                     |  |.:  |..|..:.:..|:  ..|.|..|      |:..::|| 
B9F0Z0_ORYSJ_    111 K--WCI--LQSKIKSGATDEYRREVCKILEAACDYVLKEESNNQA-    151


#---------------------------------------
#---------------------------------------
