########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:25
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-53.fasta
#    [-bsequence] data/fastas/85VASTdomains-2.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: D0MXP9_PHYIT_9571148
# 2: B9FU30_ORYSJ_8491024
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 201
# Identity:      44/201 (21.9%)
# Similarity:    74/201 (36.8%)
# Gaps:          34/201 (16.9%)
# Score: 105.0
# 
#
#=======================================

D0MXP9_PHYIT_      1 PDKDTLLSEYDMLMDEEVEFS-IATAYATLWVES--DTFS-----RNVLE     42
                                :...|:|:.| |.::..::.|||  :.||     ..:::
B9FU30_ORYSJ_      1 -----------LFTHEDVKMSEIFSSALSVDVESLMEMFSGGPLEHRMMQ     39

D0MXP9_PHYIT_     43 AAGATKISLPAWEKKSTSYTAVTSPDTFDGSRVVSYTHNKKYMVGPSVIP     92
                     .||....|...||..|.:..          .|.:||..:|..........
B9FU30_ORYSJ_     40 KAGCIDYSPTEWELVSRNIY----------QRQISYKFDKNLSRYGGEAT     79

D0MXP9_PHYIT_     93 TTQTQRYAYKPNSRLVVSTTTCVSDVPYCDYFRVEHRW-VFSATKKRGVC    141
                     ||| ||||........:.....:..|...|.|.|:.:: |.:...|...|
B9FU30_ORYSJ_     80 TTQ-QRYALVNQEGWAIEEVMSLQGVLLGDCFNVQMKYTVVNVPSKPNTC    128

D0MXP9_PHYIT_    142 LAQVGLRVQWMKSTWLKKQIESTTVTEAKDAIKSWLNAAHDTIKENSSTS    191
                     ..||.|.:.|:|||..:|:|..:.::.:...:|.........:...|.  
B9FU30_ORYSJ_    129 SVQVLLGIAWLKSTKQQKKITKSVISNSSIRLKELFAEVEKDLTSRSG--    176

D0MXP9_PHYIT_    192 S    192
                      
B9FU30_ORYSJ_    176 -    176


#---------------------------------------
#---------------------------------------
