########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:13
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-45.fasta
#    [-bsequence] data/fastas/85VASTdomains-67.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: J3KR86_HUMAN_127303
# 2: D0NJ57_PHYIT_385538
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 188
# Identity:      46/188 (24.5%)
# Similarity:    78/188 (41.5%)
# Gaps:          45/188 (23.9%)
# Score: 150.0
# 
#
#=======================================

J3KR86_HUMAN_      1 ----ALLP-DLSGRLLINSVFHVGAERLQQMLFSD-SPF-LQGFLQQCKF     43
                         .:.| |:|...::..||.|..:...::.:.| :|| |..|.:|...
D0NJ57_PHYIT_      1 SDVDTIAPKDISMTQILEEVFPVSVDTFMKLFYLDKAPFGLDKFNEQTGS     50

J3KR86_HUMAN_     44 TDVTLSPWS----GDSKCHQRRVLTYTIPISNPLGPKSASVVETQTLFRR     89
                     |::|::||:    .:......|.|.:.:|:..|:||||:.|...|.|  :
D0NJ57_PHYIT_     51 TEMTINPWTTPLEDEESFGMTRSLQFRVPVDAPIGPKSSQVDVLQCL--K     98

J3KR86_HUMAN_     90 GPQAGGCVVDSEVLTQGIPYQDYFYTAHRYCILGLARNKARLRVSSEIRY    139
                     ..:.|..||:|......|||.|||....|:.|:..:.:....:|..|::.
D0NJ57_PHYIT_     99 ENEHGVRVVESSTRLVDIPYGDYFSVEDRWTIVPRSSDPNACKVFIELKV    148

J3KR86_HUMAN_    140 RKQPWSLVKSLIEKNSWSGIEDYFHHLERELAKAEKLS    177
                     |                         ||:||       
D0NJ57_PHYIT_    149 R-------------------------LEQEL-------    154


#---------------------------------------
#---------------------------------------
