########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:02
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-76.fasta
#    [-bsequence] data/fastas/85VASTdomains-50.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: I7MCY9_TETTS_788993
# 2: B3KQF7_HUMAN_127303
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 220
# Identity:      44/220 (20.0%)
# Similarity:    70/220 (31.8%)
# Gaps:          57/220 (25.9%)
# Score: 65.0
# 
#
#=======================================

I7MCY9_TETTS_      1 -------KHYLSNKDFETFELVLENTHTREVFIEIFSDKQYKDYQSFSHF     43
                            ...|.|..|......|:..        :|||..:     ...|
B3KQF7_HUMAN_      1 ALLPDLSGRLLINSVFHVGAERLQQM--------LFSDSPF-----LQGF     37

I7MCY9_TETTS_     44 YQQTYIKDTNIDITPWQPAPSSIYTDVSSTNYQEFLESNQFSTKTNQFIH     93
                     .||  .|.|::.::||..                  :|.....:...:..
B3KQF7_HUMAN_     38 LQQ--CKFTDVTLSPWSG------------------DSKCHQRRVLTYTI     67

I7MCY9_TETTS_     94 PVREKVPMGPKTCQVNSEEKIFWLSSEE--ILIQREFKVSKVPMADCFTT    141
                     |:..  |:|||:..|...:..|....:.  .::..|.....:|..|.|.|
B3KQF7_HUMAN_     68 PISN--PLGPKSASVVETQTPFRRGPQAGGCVVDSEVLTQGIPYQDYFYT    115

I7MCY9_TETTS_    142 QNFYHIQQTGPTTVKITFGFFINFVKS--SMFKSLIVKSSGSENRETWNG    189
                     .:.|.|........::.....|.:.|.  |:.||||.|:|       |:|
B3KQF7_HUMAN_    116 AHRYCILGLARNKARLRVSSEIRYRKQPWSLVKSLIEKNS-------WSG    158

I7MCY9_TETTS_    190 ---KFKGLITEQIKFAQNQR    206
                        .|..|..|..|..:.. 
B3KQF7_HUMAN_    159 IEDYFHHLERELAKAEKLS-    177


#---------------------------------------
#---------------------------------------
