########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:03
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-77.fasta
#    [-bsequence] data/fastas/85VASTdomains-20.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q5BB65_EMENI_8531030
# 2: A9SDA2_PHYPA_232412
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 189
# Identity:      45/189 (23.8%)
# Similarity:    77/189 (40.7%)
# Gaps:          19/189 (10.1%)
# Score: 84.0
# 
#
#=======================================

Q5BB65_EMENI_      1 --DGPEGQYDRVIKDETIPAPLGKVYSYVFGPASVSFVPKFLVENQKSGE     48
                       |.|......|:.|:........:.|.:..|:| ||..:.|.. ||:.|
A9SDA2_PHYPA_      1 VDDFPSPLAGGVVLDQRYAISAKALSSLICKPSS-SFFQELLTV-QKTTE     48

Q5BB65_EMENI_     49 LEFNCDKTGLTNETRTRKYSYIKPLNGSIGPKQTKCISTEQLDFLDLEKA     98
                     ......|: :.|::..|..||:|.....|  |..|...|.....|| ::.
A9SDA2_PHYPA_     49 YSEEPWKS-VKNDSIERVVSYMKAATKII--KSVKATETHTCRRLD-DRG     94

Q5BB65_EMENI_     99 VLVTLSTQTPDVPSGNVFTTKTKYLFTW-----AANNQTRFLMTCTIEWS    143
                     .::.:|..|||||.|..|..:.::....     ......|.|::..|::.
A9SDA2_PHYPA_     95 FVLDISCATPDVPCGTSFLVELQFCVMAERDLPVKEKTCRLLISWRIKFL    144

Q5BB65_EMENI_    144 GKSWLKGPIEKGAIDG-QGTFGTDLIAALKTAVAPR---    178
                     ..:.:||.||.||..| :.|:  ::...:.:..|..   
A9SDA2_PHYPA_    145 HSTMIKGMIESGARAGIKETY--EIFKEILSKYAKPISE    181


#---------------------------------------
#---------------------------------------
