########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:32
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-57.fasta
#    [-bsequence] data/fastas/85VASTdomains-47.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q22XZ6_TETTS_144333
# 2: GRM1A_MOUSE_365539
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 200
# Identity:      35/200 (17.5%)
# Similarity:    75/200 (37.5%)
# Gaps:          35/200 (17.5%)
# Score: 62.5
# 
#
#=======================================

Q22XZ6_TETTS_      1 EQSDVEILNPETSEENKELLRCILPVSVDAFFEKFIGDNAIFSYGQHMEK     50
                             .|:.|  .:.|:..:..:..:...:....|:. |..| .:::
GRM1A_MOUSE_3      1 --------LPDLS--GRLLINSVFHMGAERLQQMLFSDSP-FLQG-FLQQ     38

Q22XZ6_TETTS_     51 NGSTDIKISEWAENEELKCFTRE-CNLVIKVSGVPLRDTSRFQKIQTYKK     99
                     ...||:.:|.|:.:.  ||..|. ....|.:|......::...:.||..:
GRM1A_MOUSE_3     39 RKFTDVTLSPWSSDS--KCHQRRVLTYTIPISNQLGPKSASVVETQTLFR     86

Q22XZ6_TETTS_    100 EGE---NLIISSTSKVFDVPYSGYFTTEEKWEISPVEGSSDKCLLVCKGW    146
                     .|.   ..::.|......:||..||.|..::.|..:  :.:|..|.....
GRM1A_MOUSE_3     87 RGPQAGGCVVDSEVLTQGIPYQDYFYTAHRYCILGL--ARNKARLRVSSE    134

Q22XZ6_TETTS_    147 VTFNKN--TMMKKTITQRNEQGLKEDY----EVWIGRIRKILQPKKPEEN    190
                     :.:.|.  :::|..|.:.:..|: |||    :..:.:..|:.        
GRM1A_MOUSE_3    135 IRYRKQPWSLVKSLIEKNSWSGI-EDYFHHLDRELAKAEKLS--------    175


#---------------------------------------
#---------------------------------------
