########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:27
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-54.fasta
#    [-bsequence] data/fastas/85VASTdomains-49.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q8MKJ8_DROME_144324
# 2: C4M0I0_ENTHI_381531
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 248
# Identity:      24/248 ( 9.7%)
# Similarity:    37/248 (14.9%)
# Gaps:         164/248 (66.1%)
# Score: 21.5
# 
#
#=======================================

Q8MKJ8_DROME_      1 EDLTARCSASHEGRKLLQERLMVRVDALFNMLFSASPFLQSFHERRKSTD     50
                                                                       
C4M0I0_ENTHI_      0 --------------------------------------------------      0

Q8MKJ8_DROME_     51 LNMGVWARNAGGQNQRTVSMTVALQANVGPKTAKITETQTMRECSQPGQL    100
                                                       ..|....:...||...
C4M0I0_ENTHI_      1 ----------------------------------DDEVPEPKFFKQPKMK     16

Q8MKJ8_DROME_    101 YSIDVQSVNADIPYADTFV--------VLMHFCLKATVEEHTDVLVFAEI    142
                     ..|:.......:.:.:|||        :.:...|..|..|.||       
C4M0I0_ENTHI_     17 TIIETTIPITPLQFFNTFVENKTRSKQIKLREELGQTNIEMTD-------     59

Q8MKJ8_DROME_    143 QFLKSVWAVVKTFIERN---------------AYAGLEEFCQSLYSALLI    177
                           |..::....||               ..|.:::|.|...|||:|
C4M0I0_ENTHI_     60 ------WKSIQNGFTRNINTIEPVDTPNGKVTTRAQIQQFYQLKKSALII    103

Q8MKJ8_DROME_    178 -EIRK-------------------------------------------    181
                      .||.                                           
C4M0I0_ENTHI_    104 GSIRNYLDSQDYYSTETRLLLNLSKNNESILTIQANILLKKKGDEKEK    151


#---------------------------------------
#---------------------------------------
