########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:24
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-52.fasta
#    [-bsequence] data/fastas/85VASTdomains-1.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q86AF7_DICDI_286471
# 2: B9FU30_ORYSJ_284472
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 198
# Identity:      49/198 (24.7%)
# Similarity:    79/198 (39.9%)
# Gaps:          21/198 (10.6%)
# Score: 123.5
# 
#
#=======================================

Q86AF7_DICDI_      1 VECKDMSTTAKINQL------QHYVNERFEISCIKFYTLMIDSDFWAYVS     44
                      |.||.......|..      :.||....|::.:.|..   :||||..||
B9FU30_ORYSJ_      1 -ESKDQGCEMPANLPGGVLIDESYVAAPTELNSLLFSK---NSDFWPAVS     46

Q86AF7_DICDI_     45 KECGFLDMKESEWV--TSESCCHQERTLNFKTPISFKIGPKVATVQQTQK     92
                     :..|....:...|.  .:|:|.  :|||.:....|..:  |.....:.||
B9FU30_ORYSJ_     47 ELQGTSGFQIEPWKLDNNETCL--QRTLTYTKAASKLV--KAVKATEEQK     92

Q86AF7_DICDI_     93 IRRTPTNGYVMETSSLSKDVPYGDSFSVENYLTLEPCP--ESPQDSCILK    140
                     ..:...|.:.:.:...:.|||.|..|.:|....:.|.|  .|.:.:..|.
B9FU30_ORYSJ_     93 YLKAAGNSFAVHSVVSTPDVPCGGCFKIEILYCITPGPSLSSEEQTSHLT    142

Q86AF7_DICDI_    141 VSTAVKFIKSIWGLGGLIEKTVTQSNKEFFACWINFAKKRISDQAS--    186
                     ||..|.|::|.. :.|:||....|...|.||.:.....::|....:  
B9FU30_ORYSJ_    143 VSWRVNFVQSTM-MKGMIESGAKQGMAEGFAHFSEILSQKIKVAEADD    189


#---------------------------------------
#---------------------------------------
