########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:01
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-39.fasta
#    [-bsequence] data/fastas/85VASTdomains-4.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B3KUR5_HUMAN_45223
# 2: Q5Z6I4_ORYSJ_8571036
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 213
# Identity:      44/213 (20.7%)
# Similarity:    72/213 (33.8%)
# Gaps:          67/213 (31.5%)
# Score: 64.5
# 
#
#=======================================

B3KUR5_HUMAN_      1 QIENVPEKDLHGRLFINRIFHISADRMFELLFTSSRFMQKFASSRNIIDV     50
                                            .:.....|......|.:..||....| 
Q5Z6I4_ORYSJ_      1 -----------------------NNESDSFLGIEDAKMSEVFSSTKPFD-     26

B3KUR5_HUMAN_     51 VSTPWTAELGG-------DQLRTMTYTIVLNSPLTGKCTAATEKQTLYK-     92
                     |||..:...||       :::..|.|::   ||.......|.::|..|| 
Q5Z6I4_ORYSJ_     27 VSTLMSIFEGGPLEHQVMEKIGCMEYSV---SPWESVRADAYQRQIHYKF     73

B3KUR5_HUMAN_     93 ESREARF------------------YLVDSEVLTHDVPYHDYFYTVNRYC    124
                     :.|.||.                  :||:..:....:|..:||....||.
Q5Z6I4_ORYSJ_     74 DKRLARHEGEVMSTQQKSPLPDKNGWLVEEVMTLEGIPVGEYFNLHMRYQ    123

B3KUR5_HUMAN_    125 I--IRSSKQKCRLRVSTDL------KYRKQPWGLVKSLIEKNSWSSLEDY    166
                     :  |.|..:.|.::||..:      |.||:   :.:.::...| |.|:..
Q5Z6I4_ORYSJ_    124 LEQISSKPKACNVQVSIGIAWLKSCKNRKK---IAQEVLSSAS-SRLKKM    169

B3KUR5_HUMAN_    167 FKQLESDLLIEES    179
                     |..||.:||..  
Q5Z6I4_ORYSJ_    170 FGLLEKELLPA--    180


#---------------------------------------
#---------------------------------------
