########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:22
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-50.fasta
#    [-bsequence] data/fastas/85VASTdomains-53.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B3KQF7_HUMAN_127303
# 2: D0MXP9_PHYIT_9571148
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 199
# Identity:      39/199 (19.6%)
# Similarity:    69/199 (34.7%)
# Gaps:          29/199 (14.6%)
# Score: 77.0
# 
#
#=======================================

B3KQF7_HUMAN_      1 ----ALLPDLSGRLLINSVFHVGAERLQQMLFSDSPFLQGFLQQCKFTDV     46
                         .||.:....:.....|.:........:.||: |.:..|:....|.:
D0MXP9_PHYIT_      1 PDKDTLLSEYDMLMDEEVEFSIATAYATLWVESDT-FSRNVLEAAGATKI     49

B3KQF7_HUMAN_     47 TLSPWSGDSKCHQ----------RRVLTYTIPISNPLGPKSASVVETQTP     86
                     :|..|...|..:.          .||::||......:||......:||. 
D0MXP9_PHYIT_     50 SLPAWEKKSTSYTAVTSPDTFDGSRVVSYTHNKKYMVGPSVIPTTQTQR-     98

B3KQF7_HUMAN_     87 FRRGPQAGGCVVDSEVLTQGIPYQDYFYTAHRYCILGLARNKARL-RVSS    135
                     :...|.: ..||.:......:||.|||...||:......:....| :|..
D0MXP9_PHYIT_     99 YAYKPNS-RLVVSTTTCVSDVPYCDYFRVEHRWVFSATKKRGVCLAQVGL    147

B3KQF7_HUMAN_    136 EIRYRKQPWSLVKSLIEKNSWSGIEDYF-------HHLERELAKAEKLS    177
                     .:::.|..|  :|..||..:.:..:|..       |...:|.:....  
D0MXP9_PHYIT_    148 RVQWMKSTW--LKKQIESTTVTEAKDAIKSWLNAAHDTIKENSSTSS--    192


#---------------------------------------
#---------------------------------------
