########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:02
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-4.fasta
#    [-bsequence] data/fastas/85VASTdomains-33.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q5Z6I4_ORYSJ_8571036
# 2: B9G4K6_ORYSJ_394582
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 203
# Identity:      43/203 (21.2%)
# Similarity:    78/203 (38.4%)
# Gaps:          37/203 (18.2%)
# Score: 88.5
# 
#
#=======================================

Q5Z6I4_ORYSJ_      1 --NNESDSFLGIEDAKMSEVFSSTKPFDV----STLMSIFEGGPLEHQVM     44
                       ..:...|  :::..:..||:.:.|...    :||:|.......|.:..
B9G4K6_ORYSJ_      1 DLTGQLQPF--VKEEVLVTVFNGSFPCTAEEFFNTLLSDDSSYITEFRTA     48

Q5Z6I4_ORYSJ_     45 EKIGCMEYSVSPWESVRADAYQRQIHYKFDKRLARHEG-----EVMSTQQ     89
                     .|  ..:.::..|.  .||.|..|:.....|.:. |..     ..|:..|
B9G4K6_ORYSJ_     49 RK--DKDINLGQWH--HADEYDGQVRELNCKSIC-HSPMCPPYSAMTEWQ     93

Q5Z6I4_ORYSJ_     90 KSPL-PDKNGWLVEEVMTLEGIPVGEYFNLHMRYQLEQISSKPKACNVQV    138
                     ...| .||...:.|.|..:..:|.|.:|.:|.|:.::..||  .:|::.:
B9G4K6_ORYSJ_     94 HMVLSADKTDLVFETVQQVHDVPFGSFFEVHCRWSVKTTSS--DSCSLNI    141

Q5Z6I4_ORYSJ_    139 SIGIAWLKSCKNRKKI-----------AQEVLSSASSRLKKMFGLLEKEL    177
                     |.|..:.|.|..:.||           .||:|..|.|.::|:....:.  
B9G4K6_ORYSJ_    142 SAGAHFKKWCIMQSKIKSGAVDEYKKEVQEMLEFAESYMRKVRTSNQD--    189

Q5Z6I4_ORYSJ_    178 LPA    180
                        
B9G4K6_ORYSJ_    189 ---    189


#---------------------------------------
#---------------------------------------
