########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:40
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-26.fasta
#    [-bsequence] data/fastas/85VASTdomains-65.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: YSP2_YEAST_8411021
# 2: Q86AF6_DICDI_540708
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 191
# Identity:      36/191 (18.8%)
# Similarity:    71/191 (37.2%)
# Gaps:          32/191 (16.8%)
# Score: 66.0
# 
#
#=======================================

YSP2_YEAST_84      1 PTTADFKPSNNDHLVIEANINAPLGKVVNLLYGEDV--------SYYERI     42
                            |.:.:...|.      :.:...|:...|.        ||.|:.
Q86AF6_DICDI_      1 -------PWSTEKYQIS------ISEFYQLICRTDFWGSVNTTHSYTEQN     37

YSP2_YEAST_84     43 LKAQKNFEISPIPNNFLTKKIRDYAYTKPLSGSIGPSKTKCLITDTLEHY     92
                     |...|.      .||....:..|  :...:|..|||..|:...|...:..
Q86AF6_DICDI_     38 LTEWKQ------TNNCCIHRNMD--FRTAISFKIGPKSTRVYQTQRCKLK     79

YSP2_YEAST_84     93 DLEDYVKVLSITKNPDVPSGNIFSVKTVFLFSWDKNNSTKLTVYNSVDWT    142
                     :..::: :.|.:.:.|||.|:.|||:.:.:.....|:|....:.:.:.:|
Q86AF6_DICDI_     80 NKSEFI-LQSTSVSKDVPYGDAFSVENLLVVQAIDNSSCLTKLSSKIKFT    128

YSP2_YEAST_84    143 GKSW-IKSMIEKGTFDGVADTTKIMISEIKKILSDEDSNI-    181
                     ...| :.|||:|....|..:...:..:.::..:.....|. 
Q86AF6_DICDI_    129 KSVWGLSSMIQKTALQGNKEFFVLWNTMVRNQIETYVYNKM    169


#---------------------------------------
#---------------------------------------
