########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:10
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-44.fasta
#    [-bsequence] data/fastas/85VASTdomains-1.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q2MGF5_CAEEL_57244
# 2: B9FU30_ORYSJ_284472
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 208
# Identity:      45/208 (21.6%)
# Similarity:    84/208 (40.4%)
# Gaps:          39/208 (18.8%)
# Score: 100.0
# 
#
#=======================================

Q2MGF5_CAEEL_      1 ------DEIIEEVPCPCSEHFGRLIMDKEFKVSVEKFYELLFTDN-EFLT     43
                           .|:...:|       |.:::|:.:..:..:...|||:.| :|..
B9FU30_ORYSJ_      1 ESKDQGCEMPANLP-------GGVLIDESYVAAPTELNSLLFSKNSDFWP     43

Q2MGF5_CAEEL_     44 MLNQKTKTAEYVAATWVRDHQGDNTRTC---TYTVSLAHAMAPKAIIVNE     90
                     .:::...|:.:....|    :.||..||   |.|.:.|.:...||:...|
B9FU30_ORYSJ_     44 AVSELQGTSGFQIEPW----KLDNNETCLQRTLTYTKAASKLVKAVKATE     89

Q2MGF5_CAEEL_     91 KQILTHYPNPKQGIMMQKETQNSGVPYSDNFTVNCRYCISRTGPT-----    135
                     :|  .:.........:........||....|.:...|||: .||:     
B9FU30_ORYSJ_     90 EQ--KYLKAAGNSFAVHSVVSTPDVPCGGCFKIEILYCIT-PGPSLSSEE    136

Q2MGF5_CAEEL_    136 -SCRIKVHGGVMYKKSTWAVVKTFIEKGTHQGLDE---HY-QLLSKLVDE    180
                      :..:.|...|.:.:||  ::|..||.|..||:.|   |: ::||:.:..
B9FU30_ORYSJ_    137 QTSHLTVSWRVNFVQST--MMKGMIESGAKQGMAEGFAHFSEILSQKIKV    184

Q2MGF5_CAEEL_    181 YAANHPDE    188
                     ..|:.   
B9FU30_ORYSJ_    185 AEADD---    189


#---------------------------------------
#---------------------------------------
