########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:53
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-70.fasta
#    [-bsequence] data/fastas/85VASTdomains-27.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q4QEC5_LEIMA_378547
# 2: YSP2_YEAST_10461230
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 211
# Identity:      34/211 (16.1%)
# Similarity:    60/211 (28.4%)
# Gaps:          67/211 (31.8%)
# Score: 20.5
# 
#
#=======================================

Q4QEC5_LEIMA_      1 -----------GKG--VLD-----------VFGVCFDDGTA----VLEDY     22
                                ||.  |:|           ||.:.:.|.|:    ::|:.
YSP2_YEAST_10      1 VHDPTEPDFQKGKDDTVIDEKINIPVPLGTVFSLLYGDDTSYIKKIIENQ     50

Q4QEC5_LEIMA_     23 HTERKDTDQKWEPWRPTKDGGAFRGQRQFTCTTLVKAMMGKPYT------     66
                     :........|:           ....|:.|.|..:....|...|      
YSP2_YEAST_10     51 NNFNVCDIPKF-----------VNNAREITYTKKLNNSFGPKQTKCIVTE     89

Q4QEC5_LEIMA_     67 YIEYQRYALFKLSGVPTLAVQFSSQVPGVMFGDAFRVEALVTFTQAGSGA    116
                     .||:.....|       ..|:...:.|.|.:|.:|.|.....::.   |.
YSP2_YEAST_10     90 TIEHMDLNSF-------FMVKQIVRSPDVPYGSSFSVHTRFFYSW---GD    129

Q4QEC5_LEIMA_    117 SAEVTMRAFGYVQFLKSVWVKGRILATVMNTELPDGSKTLANMICERLEN    166
                     .....|:....|     ||....:|...:.....||.::....:.:.|:.
YSP2_YEAST_10    130 HNTTNMKVVTNV-----VWTGKSMLKGTIEKGSIDGQRSSTKQLVDDLKK    174

Q4QEC5_LEIMA_    167 HQSG-------    170
                     ..|.       
YSP2_YEAST_10    175 IISNASSTKKK    185


#---------------------------------------
#---------------------------------------
