########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:47
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-30.fasta
#    [-bsequence] data/fastas/85VASTdomains-62.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: F4HVW5_ARATH_257449
# 2: B9G4T6_ORYSJ_322427
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 193
# Identity:      59/193 (30.6%)
# Similarity:    81/193 (42.0%)
# Gaps:          87/193 (45.1%)
# Score: 338.0
# 
#
#=======================================

F4HVW5_ARATH_      1 FNWKPEDTDAPKLSSDFTKVAEAKFSIPVEEFFRLFFSDGAVSFVESFHK     50
                                                                       
B9G4T6_ORYSJ_      0 --------------------------------------------------      0

F4HVW5_ARATH_     51 NCGDKEFRCTSWQPHEKLGHTRNVSFQHPIKIYFGAKFGGCQESQKFRMY    100
                                                      .|||||.|||.||.|:|
B9G4T6_ORYSJ_      1 ---------------------------------KGAKFGSCQEVQKLRVY     17

F4HVW5_ARATH_    101 RNSHLVIETSQEISDVPYADYFTVEGVWDLKRDCRDSVEGCILDVYVNVA    150
                     :|.||:|:|||:|.|.||.|:|||||:||:::|..|. ..|.|.||:|||
B9G4T6_ORYSJ_     18 KNRHLMIQTSQQIGDAPYGDHFTVEGIWDVEQDSLDE-SSCYLRVYINVA     66

F4HVW5_ARATH_    151 FSKRTVWKGKIVQSTLEECREAYAHWIRMAHELLKQKKLENQE    193
                     |||:|:::|||.|||.:|||:.:..|:::.|:||||....   
B9G4T6_ORYSJ_     67 FSKKTIFRGKIDQSTKDECRDVFGLWVKLGHDLLKQDSSC---    106


#---------------------------------------
#---------------------------------------
