########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:45
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-3.fasta
#    [-bsequence] data/fastas/85VASTdomains-41.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q5Z6I4_ORYSJ_261445
# 2: Q8W4D4_ARATH_391576
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 205
# Identity:      43/205 (21.0%)
# Similarity:    75/205 (36.6%)
# Gaps:          39/205 (19.0%)
# Score: 61.5
# 
#
#=======================================

Q5Z6I4_ORYSJ_      1 HEGNEIPENLSGGV-------LIDQVYAVAPSDLNGLLFSPSSDFLQSLA     43
                           |......:       :.:.|:|..|..:..:|.:..|.:.....
Q8W4D4_ARATH_      1 ------PVKFQAFIKEEVLVNIYNDVFASTPEQVLNVLLADDSTYTNEYR     44

Q5Z6I4_ORYSJ_     44 EMQGTTGLEIQQWRL--ENDGEVLK-RVVSYTKAP-----TALV--KAVK     83
                     ..:....|.|:.|..  |.||:|.: :..|...:|     ||:.  :.|.
Q8W4D4_ARATH_     45 SARKDKNLNIEPWHTAEEYDGQVREIKFRSICNSPMCPPDTAVTEWQHVV     94

Q5Z6I4_ORYSJ_     84 ATEDVSYLKADGDIYATLADVSTP-DVPFGNSFRVEVLTCIMPGPELPDN    132
                     .:.|...|     ::.|   |..| |||||:.|.|.....:    |..| 
Q8W4D4_ARATH_     95 LSPDKKVL-----VFET---VQQPHDVPFGSYFEVHCRWRL----EAKD-    131

Q5Z6I4_ORYSJ_    133 EKSSRLVVSWRLNFIQSTMMKGMIENGAKQGLKDNYIQFSELLARNIRPV    182
                     |.||.:.:...::|.:..:|:..|:.||....|.......|:....::..
Q8W4D4_ARATH_    132 ETSSVIDIRVGVHFKKWCLMQSKIKAGAIDEYKKEVEVMLEVALSYLKSH    181

Q5Z6I4_ORYSJ_    183 DSK--    185
                     .|.  
Q8W4D4_ARATH_    182 SSSSS    186


#---------------------------------------
#---------------------------------------
