########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:29
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-19.fasta
#    [-bsequence] data/fastas/85VASTdomains-67.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B9F3V9_ORYSJ_8991075
# 2: D0NJ57_PHYIT_385538
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 194
# Identity:      27/194 (13.9%)
# Similarity:    67/194 (34.5%)
# Gaps:          57/194 (29.4%)
# Score: 58.5
# 
#
#=======================================

B9F3V9_ORYSJ_      1 --GSLLANEDVKMSEVYSAVLSVDINSLMDMF--SGGPLE-HKVMQKAGC     45
                       ...:|.:|:.|:::...|..|.:::.|.:|  ...|.. .|..::.|.
D0NJ57_PHYIT_      1 SDVDTIAPKDISMTQILEEVFPVSVDTFMKLFYLDKAPFGLDKFNEQTGS     50

B9F3V9_ORYSJ_     46 VDYSPTEW--ELLNQNIY--QRQISFKFDKILSRFGEAST--------TQ     83
                     .:.:...|  .|.::..:  .|.:.|:. .:.:..|..|:        .:
D0NJ57_PHYIT_     51 TEMTINPWTTPLEDEESFGMTRSLQFRV-PVDAPIGPKSSQVDVLQCLKE     99

B9F3V9_ORYSJ_     84 RKYNLANRDGWVIEEVMTLQGVQHEDYSSIQLKYQMTSTSLKPSTCSIQV    133
                     .::.:.     |:|....|..:.:.||.|::.::.:...|..|:.|.:.:
D0NJ57_PHYIT_    100 NEHGVR-----VVESSTRLVDIPYGDYFSVEDRWTIVPRSSDPNACKVFI    144

B9F3V9_ORYSJ_    134 LLGIAWLKGAKQQKKVVKNVMSNSANRLREIFSEVEKELASKKG    177
                     .|.:.    .:|:.                              
D0NJ57_PHYIT_    145 ELKVR----LEQEL------------------------------    154


#---------------------------------------
#---------------------------------------
