########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:17
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-9.fasta
#    [-bsequence] data/fastas/85VASTdomains-22.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q22US2_TETTS_14441649
# 2: A9TQF1_PHYPA_224401
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 237
# Identity:      42/237 (17.7%)
# Similarity:    74/237 (31.2%)
# Gaps:          90/237 (38.0%)
# Score: 59.0
# 
#
#=======================================

Q22US2_TETTS_      1 EPNEKYKHKLIDYTFNYQNQAINLQQVFNFFFSDSLKFKEYSDFQEYIKR     50
                                                             ..||...:..
A9TQF1_PHYPA_      1 ----------------------------------------VDDFPPPLAS     10

Q22US2_TETTS_     51 GKMGDYDY------QSTLF----SPPIPKYFQFKSQRLDEDLIASPDYSE     90
                     |.:.|..|      .|.|.    ||.|.:..         ..:.:.:|||
A9TQF1_PHYPA_     11 GVVLDQRYGTSAKSLSALICKAGSPFIQELL---------TCLKTTEYSE     51

Q22US2_TETTS_     91 REVRLTHPLPPSN-------IPFMP------KTCQVREVTRVYWVSNDTI    127
                           .|...:|       :.:|.      |..:..|......:.:...
A9TQF1_PHYPA_     52 ------EPWKRANNGCIERVVSYMKAATKIIKAVKASESHTCRRLDDRGF     95

Q22US2_TETTS_    128 VVNLEAFTSGIPKGDSFTVRVR-SIFKQID---EENIHFSQYSY-VHFLE    172
                     ::::...|..:|.|.:|.|::: .|....|   :|.....|.|: :|||.
A9TQF1_PHYPA_     96 ILDISCSTPDVPYGSNFMVKLQFCILAGQDLPSQEKTCRLQVSWTLHFLH    145

Q22US2_TETTS_    173 STFLQGKIENGT---IEQSHIAVKNCVLPAYQEAFQM    206
                     ||.::|.||||.   |::::...:. ||..|.:.   
A9TQF1_PHYPA_    146 STMMKGMIENGARAGIKETYELYRE-VLSRYAKP---    178


#---------------------------------------
#---------------------------------------
