########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:32
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-21.fasta
#    [-bsequence] data/fastas/85VASTdomains-34.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: A9SDA2_PHYPA_8171004
# 2: GRM1B_HUMAN_55233
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 202
# Identity:      39/202 (19.3%)
# Similarity:    78/202 (38.6%)
# Gaps:          37/202 (18.3%)
# Score: 93.0
# 
#
#=======================================

A9SDA2_PHYPA_      1 -QSCTDSFAGMEEANMAQVCAFEIPLMSDCAMSLFEQGGLEEAMAEKMGY     49
                      |:..:..:|.:..|  :|..|.:..:.|.   ||.....:....|:..:
GRM1B_HUMAN_5      1 VQAFYEDLSGRQYVN--EVFNFSVDKLYDL---LFTNSPFQRDFMEQRRF     45

A9SDA2_PHYPA_     50 LNYVSTPWERLEGQNGVQRRHTSYHLNRQISQFGSKVSCIQQ-RTM---S     95
                     .:.:..||::.|  ||.|.|...|.:. ..:....|.:.::: :||   |
GRM1B_HUMAN_5     46 SDIIFHPWKKEE--NGNQSRVILYTIT-LTNPLAPKTATVRETQTMYKAS     92

A9SDA2_PHYPA_     96 DSMKSCVLDEVITLHDVPFGDHFQVQVRREIETTSTNPPQSFVKASVGVS    145
                     ...:..|:|..:..||||:.|:|....|..:...:.|  :|.::.|..:.
GRM1B_HUMAN_5     93 QESECYVIDAEVLTHDVPYHDYFYTINRYTLTRVARN--KSRLRVSTELR    140

A9SDA2_PHYPA_    146 WHK------NTEFKKKITKNVHD---HMAKEIREVMNVCVKEVKARIKDK    186
                     :.|      .|..:|.....:.|   |:..|:.:..:..           
GRM1B_HUMAN_5    141 YRKQPWGLVKTFIEKNFWSGLEDYFRHLESELAKTESTY-----------    179

A9SDA2_PHYPA_    187 RI    188
                       
GRM1B_HUMAN_5    179 --    179


#---------------------------------------
#---------------------------------------
