########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:00
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-38.fasta
#    [-bsequence] data/fastas/85VASTdomains-70.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: GRM1C_HUMAN_312494
# 2: Q4QEC5_LEIMA_378547
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 204
# Identity:      32/204 (15.7%)
# Similarity:    65/204 (31.9%)
# Gaps:          55/204 (27.0%)
# Score: 8.5
# 
#
#=======================================

GRM1C_HUMAN_3      1 SDSVDEENVPEKDLHGRLFINRIFHISADRMFELLFTSSRFMQKFASSRN     50
                                    |:..:: :|.:..|       ..:..::.:.:.|.
Q4QEC5_LEIMA_      1 ---------------GKGVLD-VFGVCFD-------DGTAVLEDYHTERK     27

GRM1C_HUMAN_3     51 IIDVVSTPWTAELGGDQL---RTMTYTIVLNSPLTGKCTAATEKQTLYKE     97
                     ..|....||.....|...   |..|.|.::.: :.||      ..|..:.
Q4QEC5_LEIMA_     28 DTDQKWEPWRPTKDGGAFRGQRQFTCTTLVKA-MMGK------PYTYIEY     70

GRM1C_HUMAN_3     98 SREARFYLVDSEVL----THDVP---YHDYFYTVNRYCIIRS---SKQKC    137
                     .|.|.|.|.....|    :..||   :.|.|.........::   :..:.
Q4QEC5_LEIMA_     71 QRYALFKLSGVPTLAVQFSSQVPGVMFGDAFRVEALVTFTQAGSGASAEV    120

GRM1C_HUMAN_3    138 RLRVSTDLKYRKQPW--GLVKSLIEKNSWSSLEDYFKQLESDLLIEES--    183
                     .:|....:::.|..|  |.:.:.:..   :.|.|..|.| ::::.|..  
Q4QEC5_LEIMA_    121 TMRAFGYVQFLKSVWVKGRILATVMN---TELPDGSKTL-ANMICERLEN    166

GRM1C_HUMAN_3    183 ----    183
                         
Q4QEC5_LEIMA_    167 HQSG    170


#---------------------------------------
#---------------------------------------
