########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:44
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-29.fasta
#    [-bsequence] data/fastas/85VASTdomains-58.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: A9RSX7_PHYPA_807992
# 2: Q4P940_USTMA_8271016
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 214
# Identity:      44/214 (20.6%)
# Similarity:    66/214 (30.8%)
# Gaps:          52/214 (24.3%)
# Score: 33.0
# 
#
#=======================================

A9RSX7_PHYPA_      1 ---------ERQADDSQPFLGFEQTIMPE-VLVIEIPITAESVLAAVNNT     40
                              |::...|...|......:|| :..:....|........:..
Q4P940_USTMA_      1 HRKTTCPCEEKKEHFSSVVLDTTYPAVPEKIYNLLFTSTFMKEFWTDDQK     50

A9RSX7_PHYPA_     41 KVDLSISEKLGLAEYRATPWDHVEETIGAHQRELSYKLNRQISQFG-SRV     89
                     .:||.|||           |....:......|.:|| :......|| .:.
Q4P940_USTMA_     51 LLDLQISE-----------WSPNADNRNLLSRNISY-IKPLAGGFGPKQT     88

A9RSX7_PHYPA_     90 SCNQQQVVTD-----DLKKLVIK-EVLRYHDMPFGDHFEVHVKRELETLS    133
                     .|    |:||     |....|:. ...|..|:|.|..|.|..|..:....
Q4P940_USTMA_     89 KC----VLTDENLHVDFDNYVVTLTTTRTPDVPSGGSFSVKTKTCITWAG    134

A9RSX7_PHYPA_    134 TNPVNTQVKAFVGVVW-----------HKSTEAQKKITKNIYEHMAWQIQ    172
                     |..| :.|.....|.|           ..|.:.||:..|.:.|.:.   :
Q4P940_USTMA_    135 TGNV-SHVYVTCQVEWSGRSMLKSIIDKASLDGQKQYYKELDEAVR---K    180

A9RSX7_PHYPA_    173 ELIDITVAEVFERS    186
                     .|.|.|  ..|:  
Q4P940_USTMA_    181 YLTDHT--SEFK--    190


#---------------------------------------
#---------------------------------------
