########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:02
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-4.fasta
#    [-bsequence] data/fastas/85VASTdomains-32.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q5Z6I4_ORYSJ_8571036
# 2: YHO0_YEAST_9571143
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 211
# Identity:      33/211 (15.6%)
# Similarity:    70/211 (33.2%)
# Gaps:          55/211 (26.1%)
# Score: 34.0
# 
#
#=======================================

Q5Z6I4_ORYSJ_      1 NNESDSFLGIEDAKMSEVFSSTKPFDVSTLMSIFEGGPLEHQVMEKIGCM     50
                     ..|.|.....:|:.:.|  :...|..:.|::.:..|...|:  |:|:...
YHO0_YEAST_95      1 PTEPDIQKDKDDSIIRE--NENIPAPLGTVVQLLFGSNTEY--MQKVITR     46

Q5Z6I4_ORYSJ_     51 EYSVSPWESVRADAYQR---------QIHYKFDKRLARHEG----EVMST     87
                     :.:     :|..:...:         ..||::.|:|....|    :.:.|
YHO0_YEAST_95     47 DKN-----NVNVETIPKFTPSLVEGGSRHYEYTKKLNNSIGPKQTKCLLT     91

Q5Z6I4_ORYSJ_     88 QQKSPLPDKNGWLVEEVMTLEGIPVGEYFNLHMRYQLEQISSKPKACNVQ    137
                     :....:...|..||.:......:|.|..|.:..:..|  ...:....|:.
YHO0_YEAST_95     92 ESIEHMDINNYVLVTQTTKTPDVPSGSNFAVESKIFL--FWGQHDTTNMT    139

Q5Z6I4_ORYSJ_    138 VSIGIAWL----------KSCKNRKKIA--------QEVLSSASSRLKKM    169
                     |...|.|.          |.....:|::        ::::|.|.|:..  
YHO0_YEAST_95    140 VITKINWTSKSFLKGAIEKGSVEGQKVSVDYMLSELRDIISRAKSKKP--    187

Q5Z6I4_ORYSJ_    170 FGLLEKELLPA    180
                                
YHO0_YEAST_95    187 -----------    187


#---------------------------------------
#---------------------------------------
