########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:45
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-65.fasta
#    [-bsequence] data/fastas/85VASTdomains-32.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q86AF6_DICDI_540708
# 2: YHO0_YEAST_9571143
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 198
# Identity:      38/198 (19.2%)
# Similarity:    77/198 (38.9%)
# Gaps:          40/198 (20.2%)
# Score: 71.5
# 
#
#=======================================

Q86AF6_DICDI_      1 --------------PWSTEKYQISISEFYQLICRTDFWGSVNTTHSYTEQ     36
                                   ....|.....:....||:     :|| ||  .|.::
YHO0_YEAST_95      1 PTEPDIQKDKDDSIIRENENIPAPLGTVVQLL-----FGS-NT--EYMQK     42

Q86AF6_DICDI_     37 NLTEWKQTNNCCIH--------------RNMDFRTAISFKIGPKSTRVYQ     72
                     .:|  :..||..:.              |:.::...::..||||.|:...
YHO0_YEAST_95     43 VIT--RDKNNVNVETIPKFTPSLVEGGSRHYEYTKKLNNSIGPKQTKCLL     90

Q86AF6_DICDI_     73 TQRCKLKNKSEFIL-QSTSVSKDVPYGDAFSVENLLVVQAIDNSSCLTKL    121
                     |:..:..:.:.::| ..|:.:.|||.|..|:||:.:.:....:.:....:
YHO0_YEAST_95     91 TESIEHMDINNYVLVTQTTKTPDVPSGSNFAVESKIFLFWGQHDTTNMTV    140

Q86AF6_DICDI_    122 SSKIKFTKSVWGLSSMIQKTALQGNKEFFVLWNTMVRNQIETYVYNKM    169
                     .:||.:|...: |...|:|.:::|.|.......:.:|:.|......|.
YHO0_YEAST_95    141 ITKINWTSKSF-LKGAIEKGSVEGQKVSVDYMLSELRDIISRAKSKKP    187


#---------------------------------------
#---------------------------------------
