########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:52
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-34.fasta
#    [-bsequence] data/fastas/85VASTdomains-20.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: GRM1B_HUMAN_55233
# 2: A9SDA2_PHYPA_232412
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 188
# Identity:      41/188 (21.8%)
# Similarity:    79/188 (42.0%)
# Gaps:          16/188 ( 8.5%)
# Score: 103.5
# 
#
#=======================================

GRM1B_HUMAN_5      1 VQAFYEDLSGRQYVNEVFNFSVDKLYDLLF-TNSPFQRDFMEQRRFSDII     49
                     |..|...|:|...:::.:..|...|..|:. .:|.|.::.:..::.::..
A9SDA2_PHYPA_      1 VDDFPSPLAGGVVLDQRYAISAKALSSLICKPSSSFFQELLTVQKTTEYS     50

GRM1B_HUMAN_5     50 FHPWKKEENGNQSRVILYTITLTNPLAPKTATVRETQTMYKASQESECYV     99
                     ..|||..:|.:..||:.|....|..:  |:....||.|..:.....  :|
A9SDA2_PHYPA_     51 EEPWKSVKNDSIERVVSYMKAATKII--KSVKATETHTCRRLDDRG--FV     96

GRM1B_HUMAN_5    100 IDAEVLTHDVPYHDYFYTINRYTLTR-----VARNKSRLRVSTELRYRKQ    144
                     :|....|.|||....|....::.:..     |.....||.:|..:::...
A9SDA2_PHYPA_     97 LDISCATPDVPCGTSFLVELQFCVMAERDLPVKEKTCRLLISWRIKFLHS    146

GRM1B_HUMAN_5    145 PWGLVKTFIEKNFWSGLE---DYFRHLESELAKTESTY    179
                     .  ::|..||....:|::   :.|:.:.|:.||..|. 
A9SDA2_PHYPA_    147 T--MIKGMIESGARAGIKETYEIFKEILSKYAKPISE-    181


#---------------------------------------
#---------------------------------------
