########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:02
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-76.fasta
#    [-bsequence] data/fastas/85VASTdomains-30.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: I7MCY9_TETTS_788993
# 2: F4HVW5_ARATH_257449
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 221
# Identity:      48/221 (21.7%)
# Similarity:    78/221 (35.3%)
# Gaps:          43/221 (19.5%)
# Score: 95.0
# 
#
#=======================================

I7MCY9_TETTS_      1 ---------KHYLSNKDFETFELVLENTHTREVFIEIFSDKQYKDYQSFS     41
                              ...||: ||........:....|.|...|||......:|| 
F4HVW5_ARATH_      1 FNWKPEDTDAPKLSS-DFTKVAEAKFSIPVEEFFRLFFSDGAVSFVESF-     48

I7MCY9_TETTS_     42 HFYQQTYIKDTNIDITPWQPAPSSIYTDVSSTNYQEFLESNQFSTKTNQF     91
                         .....|.....|.|||                  ......|:...|
F4HVW5_ARATH_     49 ----HKNCGDKEFRCTSWQP------------------HEKLGHTRNVSF     76

I7MCY9_TETTS_     92 IHPVREKVPMGPKTCQVNSEEKIFWLSSEEILIQREFKVSKVPMADCFTT    141
                     .||:  |:..|.|.......:|.....:..::|:...::|.||.||.||.
F4HVW5_ARATH_     77 QHPI--KIYFGAKFGGCQESQKFRMYRNSHLVIETSQEISDVPYADYFTV    124

I7MCY9_TETTS_    142 QNFYHIQQTGPTTVK-ITFGFFIN--FVKSSMFKSLIVKSSGSENRET--    186
                     :..:.:::....:|: .....::|  |.|.:::|..||:|:..|.||.  
F4HVW5_ARATH_    125 EGVWDLKRDCRDSVEGCILDVYVNVAFSKRTVWKGKIVQSTLEECREAYA    174

I7MCY9_TETTS_    187 -WNGKFKGLITEQIKFAQNQR    206
                      |......|:.:  |..:||.
F4HVW5_ARATH_    175 HWIRMAHELLKQ--KKLENQE    193


#---------------------------------------
#---------------------------------------
