########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:12
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-45.fasta
#    [-bsequence] data/fastas/85VASTdomains-23.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: J3KR86_HUMAN_127303
# 2: A9TQF1_PHYPA_8201003
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 222
# Identity:      41/222 (18.5%)
# Similarity:    77/222 (34.7%)
# Gaps:          83/222 (37.4%)
# Score: 50.0
# 
#
#=======================================

J3KR86_HUMAN_      1 ----------------------ALLPDLSGRLLINSVFHVGAERLQQMLF     28
                                           .|..|.:     .|:|..|  ||:::: 
A9TQF1_PHYPA_      1 DDADTFTGMEEANMVNVCAFDIPLTMDSA-----MSLFEKG--RLEEVV-     42

J3KR86_HUMAN_     29 SDSPFLQGFLQQCKFTDVTLSPW---SGDSKCHQRRVLTYTI--PISNPL     73
                              .::..:.:...:||   .|.:.. |||.::|.:  .||. .
A9TQF1_PHYPA_     43 ---------AEKMGYINFVSTPWERLEGQNNV-QRRQVSYHLNRQISQ-F     81

J3KR86_HUMAN_     74 GPKSASVVETQTLFRRGPQAGGCVVDS-------EVLT-QGIPYQDYFYT    115
                     |.| .|.::.:|:           :|:       |||| ..:|:.|:|..
A9TQF1_PHYPA_     82 GSK-VSCIQQKTM-----------LDNMKLYILDEVLTLHDVPFGDHFQV    119

J3KR86_HUMAN_    116 AHRYCILGLARNKARLRVSSEIRYRKQPWSLVKSLIEKNSWSGIEDYFHH    165
                     ..|..|...:.|..:..|.:.:.......:..|..|.||    ::|   |
A9TQF1_PHYPA_    120 QVRRDIETTSINPPKSSVKAYVGVSWHKNTEFKKKITKN----VQD---H    162

J3KR86_HUMAN_    166 LERELAKAEKLS----------    177
                     :.:|:.:|..:|          
A9TQF1_PHYPA_    163 MAKEIREAMNVSVKEVKALVKD    184


#---------------------------------------
#---------------------------------------
