########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:03
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-77.fasta
#    [-bsequence] data/fastas/85VASTdomains-4.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q5BB65_EMENI_8531030
# 2: Q5Z6I4_ORYSJ_8571036
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 194
# Identity:      32/194 (16.5%)
# Similarity:    67/194 (34.5%)
# Gaps:          30/194 (15.5%)
# Score: 28.0
# 
#
#=======================================

Q5BB65_EMENI_      1 DGPEGQYDRVIKDETIPAPLGKVYSYVFGPASVSFVPKFLVENQKSGELE     50
                        ..:.|..:..|  .|.:.:|:|     ::..|....|:...:.|.||
Q5Z6I4_ORYSJ_      1 ---NNESDSFLGIE--DAKMSEVFS-----STKPFDVSTLMSIFEGGPLE     40

Q5BB65_EMENI_     51 ------FNCDKTGLTNETRTRKYSYIKPLNGSIGPK----QTKCISTEQL     90
                           ..|.:..::.....|..:|.:.::.....:    :.:.:||:|.
Q5Z6I4_ORYSJ_     41 HQVMEKIGCMEYSVSPWESVRADAYQRQIHYKFDKRLARHEGEVMSTQQK     90

Q5BB65_EMENI_     91 DFLDLEKAVLVTLSTQTPDVPSGNVFTTKTKYLFTWAANNQTRFLMTCTI    140
                     ..|..:...||........:|.|..|....:|.....::..    ..|.:
Q5Z6I4_ORYSJ_     91 SPLPDKNGWLVEEVMTLEGIPVGEYFNLHMRYQLEQISSKP----KACNV    136

Q5BB65_EMENI_    141 EWS-GKSWLKG-----PIEKGAIDGQGTFGTDLIAALKTAVAPR    178
                     :.| |.:|||.     .|.:..:....:....:...|:..:.|.
Q5Z6I4_ORYSJ_    137 QVSIGIAWLKSCKNRKKIAQEVLSSASSRLKKMFGLLEKELLPA    180


#---------------------------------------
#---------------------------------------
