########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:22
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-50.fasta
#    [-bsequence] data/fastas/85VASTdomains-5.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B3KQF7_HUMAN_127303
# 2: D0NKW7_PHYIT_491663
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 212
# Identity:      37/212 (17.5%)
# Similarity:    60/212 (28.3%)
# Gaps:          74/212 (34.9%)
# Score: 55.0
# 
#
#=======================================

B3KQF7_HUMAN_      1 ALLPDLSGRLLINSVFHVGAERLQQMLFSDSPFLQGFL------------     38
                                             ..|.|...|...||            
D0NKW7_PHYIT_      1 ------------------------ASLTSAYDFFNNFLANGTSDRLSEYY     26

B3KQF7_HUMAN_     39 QQCKFTDVTLSPWSGDSKC-HQRRVLTYTIPISNPLGPKSASVVET-QTP     86
                     ::...|::....|:...:. .|.|.::...|.:..:||.......| ..|
D0NKW7_PHYIT_     27 KERGDTEIEAGDWTPSKEFGGQTRTMSCRSPTNASIGPSHTMTTTTDHVP     76

B3KQF7_HUMAN_     87 FRRG--PQAGGCVVDSEVLTQGIPYQDYFYTAHRYCI-------------    121
                     |..|  ..:...|:.|:|....|||.|.| :..:..|             
D0NKW7_PHYIT_     77 FDEGGIDDSAKLVMQSKVFMHDIPYGDCF-SVEKVTIVERVPSNDGSPGQ    125

B3KQF7_HUMAN_    122 ------LGLARNKARLRVSSEIRYRKQPWSLVKSLIEKNSWSGIEDYFHH    165
                           ||:..:|..:..|..|...::..:....|           |||.
D0NKW7_PHYIT_    126 LVAKIYLGVPFSKGCMFKSKIISATREAMASSSKL-----------YFHM    164

B3KQF7_HUMAN_    166 LERELAKAEKLS    177
                     :.|.:   |.|.
D0NKW7_PHYIT_    165 VNRSM---ESLG    173


#---------------------------------------
#---------------------------------------
