########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:20
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-5.fasta
#    [-bsequence] data/fastas/85VASTdomains-59.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: D0NKW7_PHYIT_491663
# 2: B9F0Z0_ORYSJ_387537
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 193
# Identity:      45/193 (23.3%)
# Similarity:    69/193 (35.8%)
# Gaps:          62/193 (32.1%)
# Score: 110.0
# 
#
#=======================================

D0NKW7_PHYIT_      1 ASLTSAYDFFNN--FLANGTSDRLSEYYKERGDTEIEAGDWTPSKEFGGQ     48
                         .|:..|.|  .|.:.||  ||:              |.||.|:||:
B9F0Z0_ORYSJ_      1 ----KAFQPFINEHVLVDATS--LSK--------------WYPSDEYGGK     30

D0NKW7_PHYIT_     49 TRTMSCRSPTNASIGPSHTMTTTTDHVPFDEGGIDDSAKLVMQSKVFMHD     98
                     .|.:..||..::.:.|..|..|......|.:    :...|:.::|...||
B9F0Z0_ORYSJ_     31 IREVMFRSLCHSPLCPPDTAVTEWQRASFSK----NKTNLIYETKHQAHD     76

D0NKW7_PHYIT_     99 IPYGDCFSVE-----KVTIVERVPSNDGSPGQLVAKIYLGVPFSKGCMFK    143
                     :|:|..|.:.     :.|          |.......|.:||...|.|:.:
B9F0Z0_ORYSJ_     77 VPFGSYFEIHCRWHLRTT----------SSSTCQVDIKIGVNMKKWCILQ    116

D0NKW7_PHYIT_    144 SKIIS-ATREAMASSSKLYFHMVNRSMESLG------------    173
                     |||.| ||.|        |...|.:.:|:..            
B9F0Z0_ORYSJ_    117 SKIKSGATDE--------YRREVCKILEAACDYVLKEESNNQA    151


#---------------------------------------
#---------------------------------------
