########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:50
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-68.fasta
#    [-bsequence] data/fastas/85VASTdomains-48.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: YL072_YEAST_390578
# 2: C4M0I0_ENTHI_201371
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 201
# Identity:      42/201 (20.9%)
# Similarity:    76/201 (37.8%)
# Gaps:          42/201 (20.9%)
# Score: 74.0
# 
#
#=======================================

YL072_YEAST_3      1 QETMDFPYKPEANNEYVLLERQFSVPPGLLFIMMFNEDNPVFELSFLKTQ     50
                          ..::|....:.....::|...    |:.  ||....|: ..|..:
C4M0I0_ENTHI_      1 -----TEFQPGGETDLDCSVKEFYEK----FVR--NEAKEKFK-EILAEK     38

YL072_YEAST_3     51 DSSNISHIGTFEKVNKDGQHYREFQYTKQLHF-------PVGPKSTNCEV     93
                     :.:||:        ..|.:...:|.:.:...|       |:||.|.:..|
C4M0I0_ENTHI_     39 ELTNIN--------VSDWEVSEQFGFVRSQDFIVPLKGIPIGPSSAHAIV     80

YL072_YEAST_3     94 AEILLHCDWERYINVLSITRTPNVPSGTSFSTRTRYMFRWDDQGQGCILK    143
                     .|| .:.:.:..| :.|..:||:||.|.||....:.......:.| |...
C4M0I0_ENTHI_     81 NEI-YYFEGDNLI-ICSTNQTPDVPYGDSFKLEFKTTISPKGEKQ-CHFV    127

YL072_YEAST_3    144 ISFWVDWNASSWIKPMVESNCKNGQISATKDLVKLVEEFVEKYVEL----    189
                     ..|.|.:.....:|..:||   .|..:|.||    ::..::||:|.    
C4M0I0_ENTHI_    128 EDFAVVFLKKVMLKGTIES---QGVNNAKKD----IDVMIKKYIEKISGK    170

YL072_YEAST_3    189 -    189
                      
C4M0I0_ENTHI_    171 P    171


#---------------------------------------
#---------------------------------------
