########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:52
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-7.fasta
#    [-bsequence] data/fastas/85VASTdomains-51.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q22US2_TETTS_9321154
# 2: Q8MRR1_DROME_41220
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 254
# Identity:      36/254 (14.2%)
# Similarity:    68/254 (26.8%)
# Gaps:         105/254 (41.3%)
# Score: 38.0
# 
#
#=======================================

Q22US2_TETTS_      1 -------------------------ETFKFELCDVILKGENITIRDVFQA     25
                                              :|. |.|  :..|.:.||       
Q8MRR1_DROME_      1 FVPTTECTSTHEGRQIVHTILPINVDTL-FNL--LFSKSKFIT-------     40

Q22US2_TETTS_     26 CLGDFQYQNPSTNTVYDNFFYYYIENVMKCWNIQIEKWSPPPPQYFQQQN     75
                        ||.....||:.|                   :.:|:           
Q8MRR1_DROME_     41 ---DFHAMRKSTDLV-------------------LGEWT-----------     57

Q22US2_TETTS_     76 YPFSEENEKKKEKVQDWIEISQRQVTYDKTIPLSGMPFLPKFCKVSEKQK    125
                                 |.::.:::....||......:.     ||..||:|.|.
Q8MRR1_DROME_     58 ------------KNEEGLQVRTVNVTVQLAASVG-----PKTSKVTEYQT     90

Q22US2_TETTS_    126 IIFIS-PDELI-FELEAYSSGAPMTDTFYHFIRNTFVQLTPDTVSYKVQM    173
                     ....| |.||. .::.:.::|.|..::|...|.....:...|.....:..
Q8MRR1_DROME_     91 QRECSKPGELYSIDVNSVNAGIPYAESFSVLIHFCLARTVDDHTMLSIHT    140

Q22US2_TETTS_    174 DVRFLKSNWFSGTIDSQSQKEGVKSTQEIY----KSFQERLTQFLQDKNE    219
                     .:::.||.|  |.:....:|......::.:    .:.|....        
Q8MRR1_DROME_    141 QIKYKKSIW--GVVKGFIEKNTWAGLEDFFGAQLHALQSETC--------    180

Q22US2_TETTS_    220 KRRN    223
                         
Q8MRR1_DROME_    180 ----    180


#---------------------------------------
#---------------------------------------
