########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:16
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-48.fasta
#    [-bsequence] data/fastas/85VASTdomains-19.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: C4M0I0_ENTHI_201371
# 2: B9F3V9_ORYSJ_8991075
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 229
# Identity:      26/229 (11.4%)
# Similarity:    61/229 (26.6%)
# Gaps:         110/229 (48.0%)
# Score: 30.5
# 
#
#=======================================

C4M0I0_ENTHI_      1 ---------------------------------------------TEFQP      5
                                                                  .::.|
B9F3V9_ORYSJ_      1 GSLLANEDVKMSEVYSAVLSVDINSLMDMFSGGPLEHKVMQKAGCVDYSP     50

C4M0I0_ENTHI_      6 GGETDLDCSVKEFYEKFVRNEAKEKFKEILA--------EKELTNINVSD     47
                        |:.:...:..|::    :...||.:||:        :::....|...
B9F3V9_ORYSJ_     51 ---TEWELLNQNIYQR----QISFKFDKILSRFGEASTTQRKYNLANRDG     93

C4M0I0_ENTHI_     48 WEVSEQFGFVRSQDFIVPLKGIPIGPSSAHAIVNEIYYFEGDNLIICSTN     97
                     |.:.|          ::.|:|:.          :|.|             
B9F3V9_ORYSJ_     94 WVIEE----------VMTLQGVQ----------HEDY-------------    110

C4M0I0_ENTHI_     98 QTPDVPYGDSFKLEFKTTISPKGEKQCHFVEDFAVVFLK-----KVMLKG    142
                             .|.:|:::.|.:......|.......:.:||     |.::|.
B9F3V9_ORYSJ_    111 --------SSIQLKYQMTSTSLKPSTCSIQVLLGIAWLKGAKQQKKVVKN    152

C4M0I0_ENTHI_    143 TIESQGVNNAKKDIDVMIKKYIEKISGKP    171
                     .:.:..  |..::|...::|.:....|  
B9F3V9_ORYSJ_    153 VMSNSA--NRLREIFSEVEKELASKKG--    177


#---------------------------------------
#---------------------------------------
