########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:08
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-42.fasta
#    [-bsequence] data/fastas/85VASTdomains-6.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: I7M7X5_TETTS_10131226
# 2: D0NKW7_PHYIT_696864
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 249
# Identity:      42/249 (16.9%)
# Similarity:    73/249 (29.3%)
# Gaps:         115/249 (46.2%)
# Score: 82.5
# 
#
#=======================================

I7M7X5_TETTS_      1 KQQSIFEKAQNVSEFEIKFPNATPREIFNILFGLKPYKPQPEGSQEFPNF     50
                                                              :|...|..|
D0NKW7_PHYIT_      1 -----------------------------------------DGLHFFDLF      9

I7M7X5_TETTS_     51 RFYIFQEFQKDTDIQFQTFNPPPPE-------W-----YTNLDCSDKDTV     88
                            :..:|..::||.:....:       |     |.......|...
D0NKW7_PHYIT_     10 -------YANNTLSRWQTIHQEAGDTEHVVGKWEESEEYGGQVREMKYRA     52

I7M7X5_TETTS_     89 KSSPEI---SNLEFKVVHPVREKIPFGPKVSYCQNKEKYFWISAEEFIIE    135
                     ||:..:   |.:..::||     :||.|     |::..   :.|:..:||
D0NKW7_PHYIT_     53 KSTSPLGPSSTMAEQIVH-----VPFSP-----QDRNS---LDADRIVIE     89

I7M7X5_TETTS_    136 REIFLSKIPYCDYFTIRFQYNISQVQDQ--TRILIKLY--VHFMKSTTFK    181
                     .::.|.:|||.|.|.:...|.|....|.  :.::.|:|  :.|.|||.||
D0NKW7_PHYIT_     90 HKLTLLEIPYGDCFHVETVYVIEPRTDAMGSALIAKVYIGIPFSKSTMFK    139

I7M7X5_TETTS_    182 GRIENG----------------SLSENTEVINTVFTPQAQIAIQNYQKF    214
                     .:|.:.                :.:..|||                   
D0NKW7_PHYIT_    140 SKIMSATKEGVVKSTKMVVDGLNKAVGTEV-------------------    169


#---------------------------------------
#---------------------------------------
