########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:04
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-77.fasta
#    [-bsequence] data/fastas/85VASTdomains-71.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q5BB65_EMENI_8531030
# 2: B8CDL2_THAPS_184373
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 202
# Identity:      28/202 (13.9%)
# Similarity:    65/202 (32.2%)
# Gaps:          36/202 (17.8%)
# Score: 30.0
# 
#
#=======================================

Q5BB65_EMENI_      1 --------DGPEGQYDRVIKDETIPAPLGKVYSYVF----GPASVSFVPK     38
                             :......:.::.|......:.:.::..:    |..:.|....
B8CDL2_THAPS_      1 SVVVNDNVNAMSSDMELILNDTVAGISVQEYFNIAWSEGDGTTTPSLYGS     50

Q5BB65_EMENI_     39 FLVENQKSGEL----EFNCDKTGLTNETRTRKYSYIKPLNGSIGPKQTKC     84
                     :||..:|...:    |...|....|:. |...|.:.|...|.....|.:.
B8CDL2_THAPS_     51 WLVSQEKHNVVVNPWEATVDTDTFTHR-RIVTYDFEKTTLGIQSNVQVEH     99

Q5BB65_EMENI_     85 ISTEQLDFLDLEKAVLVTLSTQTPDVPSGNVFTTKTKYLFTWAANNQ---    131
                     :...:|.    .:..:|.::......|..:.|..:..::.:..||.:   
B8CDL2_THAPS_    100 LQQYKLS----NEQCVVHMTISMKGFPYSDCFVVEVCHVASLNANGELEV    145

Q5BB65_EMENI_    132 -----TRFLMTCTIEWSGKSWLKGPIEKGAIDGQGTFGTDLIAALKTAVA    176
                          .:|:....:||..::......:|..:|   .:.|...|.|:..  
B8CDL2_THAPS_    146 QIRMNVKFVKASMMEWKIRNNTTAETKKAQLD---LYETIKAACLEDV--    190

Q5BB65_EMENI_    177 PR    178
                       
B8CDL2_THAPS_    190 --    190


#---------------------------------------
#---------------------------------------
