########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:51
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-33.fasta
#    [-bsequence] data/fastas/85VASTdomains-28.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B9G4K6_ORYSJ_394582
# 2: A9RSX7_PHYPA_212394
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 210
# Identity:      31/210 (14.8%)
# Similarity:    69/210 (32.9%)
# Gaps:          48/210 (22.9%)
# Score: 46.5
# 
#
#=======================================

B9G4K6_ORYSJ_      1 --------DLTGQLQPFVKEEVLVTVFNGSFPCTAEEFFNTLLSDDSSYI     42
                             .|:|.:           :.:.::..:::.....|....|:::
A9RSX7_PHYPA_      1 PSSVEIPLPLSGGV-----------LLDQTYGVSSKALNAILFKPGSTFV     39

B9G4K6_ORYSJ_     43 TEFRTARKDKDINLGQWHHADEYDGQVRELNCKSICHSPM--------CP     84
                     .:...|:|..:.....|..|.  :|.::.:.......|.:        ..
A9RSX7_PHYPA_     40 RDLVEAQKSTEYMEEPWRKAG--NGLMKRVTSYIKAASKLVKALKATEVQ     87

B9G4K6_ORYSJ_     85 PYSAMTEWQHMVLSADKTDLVFETVQQVHDVPFGSFFEVHCRWSVKTT--    132
                     .|:...|..:.|||...|.          |.|:|..|.|..:.::.:.  
A9RSX7_PHYPA_     88 TYTRADEMCYCVLSTCATP----------DAPYGGTFVVEVQITISSRPD    127

B9G4K6_ORYSJ_    133 ---SSDSCSLNISAGAHFKKWCIMQSKIKSGAVDEYKKEVQEMLEFAESY    179
                        ....|.|.||...:|.:..:|:..|:.|.....|:......:....:
A9RSX7_PHYPA_    128 FLGGMKCCHLQISYNVNFLQKSMMKGMIEGGVRTGIKETYAIYQDVLAKH    177

B9G4K6_ORYSJ_    180 MRKVRTSNQD    189
                     :::|..    
A9RSX7_PHYPA_    178 VQRVSV----    183


#---------------------------------------
#---------------------------------------
