########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:43
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-63.fasta
#    [-bsequence] data/fastas/85VASTdomains-68.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q55CZ7_DICDI_2179
# 2: YL072_YEAST_390578
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 232
# Identity:      41/232 (17.7%)
# Similarity:    70/232 (30.2%)
# Gaps:          97/232 (41.8%)
# Score: 47.0
# 
#
#=======================================

Q55CZ7_DICDI_      1 --------------KILNLEEEFRISVETFFTFFFENANFKQKYHSSRGD     36
                                   :.:.||.:|.:.....|...|..            |
YL072_YEAST_3      1 QETMDFPYKPEANNEYVLLERQFSVPPGLLFIMMFNE------------D     38

Q55CZ7_DICDI_     37 NQIEVKAWTPTSDNRYTREVSFCSFISNNPVINRLVGDKAKV-KEVQHYK     85
                     |.:...::..|.|:         |.||:       :|...|| |:.|||:
YL072_YEAST_3     39 NPVFELSFLKTQDS---------SNISH-------IGTFEKVNKDGQHYR     72

Q55CZ7_DICDI_     86 YIENGS-------------------LYVSSETFFDGSSI--------GKS    108
                     ..:...                   |:...|.:.:..||        |.|
YL072_YEAST_3     73 EFQYTKQLHFPVGPKSTNCEVAEILLHCDWERYINVLSITRTPNVPSGTS    122

Q55CZ7_DICDI_    109 FSS----VSEWTVSPISNPLPGCKVVIVVKNNYNGSMFKGVLENWVHDTT    154
                     ||:    :..|     .:...||.:.|....::|.|       :|:....
YL072_YEAST_3    123 FSTRTRYMFRW-----DDQGQGCILKISFWVDWNAS-------SWIKPMV    160

Q55CZ7_DICDI_    155 E--------DSFKQWLTLVRQQVEEYEKNEQL    178
                     |        .:.|..:.||.:.||:|.:.   
YL072_YEAST_3    161 ESNCKNGQISATKDLVKLVEEFVEKYVEL---    189


#---------------------------------------
#---------------------------------------
