########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:56
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-72.fasta
#    [-bsequence] data/fastas/85VASTdomains-17.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q4QEC6_LEIMA_54221
# 2: C2GR2_ARATH_8491023
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 221
# Identity:      37/221 (16.7%)
# Similarity:    57/221 (25.8%)
# Gaps:          99/221 (44.8%)
# Score: 40.0
# 
#
#=======================================

Q4QEC6_LEIMA_      1 GKGVLDVFGVCFDDGTAVLEDYHTERKDTDQKWEPWRPTKDGGAFRGQRQ     50
                                                            .|..|....:.
C2GR2_ARATH_8      1 ---------------------------------------SDADALMMSKV     11

Q4QEC6_LEIMA_     51 FTC-----TTLVKAMMG-------------------------KPYTY---     67
                     :||     ..||..:.|                         ||..|   
C2GR2_ARATH_8     12 YTCDLPCDVELVMKIFGGGELERKIMEKSGCLSYASTTWESKKPGVYERR     61

Q4QEC6_LEIMA_     68 --IEYQRYALFKLSGVPTLAVQFSSQVPG--------------VMFGDAF    101
                       .:|..|......|| |.|.| .|..|.              |.|||.|
C2GR2_ARATH_8     62 LSYKYNHYVSVFGGGV-TCAQQ-KSPAPNDEGWILNEIVALHDVPFGDHF    109

Q4QEC6_LEIMA_    102 RVEALVTFTQAG---SGASAEVTMRAFGYVQFLKSVWVKGRILATAMNTE    148
                     ||.......:||   ..:..||.::    :::||::..:.||..:.|. :
C2GR2_ARATH_8    110 RVHIRYEVKKAGVDCKTSKCEVYLK----IRWLKTIKFEQRISKSIME-K    154

Q4QEC6_LEIMA_    149 LPDGCKKLAAMVAAKVAGRS-    168
                     ..:..|.:..:...:....| 
C2GR2_ARATH_8    155 FRNRFKVIFDLFQKESVANSS    175


#---------------------------------------
#---------------------------------------
