########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:54
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-70.fasta
#    [-bsequence] data/fastas/85VASTdomains-45.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q4QEC5_LEIMA_378547
# 2: J3KR86_HUMAN_127303
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 209
# Identity:      38/209 (18.2%)
# Similarity:    64/209 (30.6%)
# Gaps:          71/209 (34.0%)
# Score: 23.5
# 
#
#=======================================

Q4QEC5_LEIMA_      1 -------GKGVLD-VFGV--------CFDDGTAVLEDYHTERKDTDQKWE     34
                            |:.::: ||.|        .|.| :..|:.:..:.|.||....
J3KR86_HUMAN_      1 ALLPDLSGRLLINSVFHVGAERLQQMLFSD-SPFLQGFLQQCKFTDVTLS     49

Q4QEC5_LEIMA_     35 PWRPTKDGGAFRGQRQ-FTCTTLVKAMMG-KPYTYIEYQRYALFKLSGVP     82
                     ||    .|.:...||: .|.|..:...:| |..:.:|.|  .||: .|..
J3KR86_HUMAN_     50 PW----SGDSKCHQRRVLTYTIPISNPLGPKSASVVETQ--TLFR-RGPQ     92

Q4QEC5_LEIMA_     83 TLAVQFSSQV--PGVMFGDAFRVEALVTFTQAGSGASAEVTMRAFGYVQF    130
                     .......|:|  .|:.:.|.|...........   |..:..:|....:::
J3KR86_HUMAN_     93 AGGCVVDSEVLTQGIPYQDYFYTAHRYCILGL---ARNKARLRVSSEIRY    139

Q4QEC5_LEIMA_    131 LKSVWVKGRILATVMNTELPDGSKTLANMICERLENHQSG----------    170
                     .|..|                   :|...:.|:  |..||          
J3KR86_HUMAN_    140 RKQPW-------------------SLVKSLIEK--NSWSGIEDYFHHLER    168

Q4QEC5_LEIMA_    170 ---------    170
                              
J3KR86_HUMAN_    169 ELAKAEKLS    177


#---------------------------------------
#---------------------------------------
