########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:29
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-2.fasta
#    [-bsequence] data/fastas/85VASTdomains-29.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B9FU30_ORYSJ_8491024
# 2: A9RSX7_PHYPA_807992
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 187
# Identity:      46/187 (24.6%)
# Similarity:    90/187 (48.1%)
# Gaps:          12/187 ( 6.4%)
# Score: 214.5
# 
#
#=======================================

B9FU30_ORYSJ_      1 ---------LFTHEDVKMSEIFSSALSVDVESLMEMFSGGPLEHRMMQKA     41
                              ....|...|.|:....:.:..||::...:...::..:.:|.
A9RSX7_PHYPA_      1 ERQADDSQPFLGFEQTIMPEVLVIEIPITAESVLAAVNNTKVDLSISEKL     50

B9FU30_ORYSJ_     42 GCIDYSPTEWELVSRNI--YQRQISYKFDKNLSRYGGEATTTQQRYALVN     89
                     |..:|..|.|:.|...|  :||::|||.::.:|::|...:..||:....:
A9RSX7_PHYPA_     51 GLAEYRATPWDHVEETIGAHQRELSYKLNRQISQFGSRVSCNQQQVVTDD    100

B9FU30_ORYSJ_     90 QEGWAIEEVMSLQGVLLGDCFNVQMKYTVVNVPSKPNTCSVQVLLGIAWL    139
                     .:...|:||:....:..||.|.|.:|..:..:.:.|....|:..:|:.|.
A9RSX7_PHYPA_    101 LKKLVIKEVLRYHDMPFGDHFEVHVKRELETLSTNPVNTQVKAFVGVVWH    150

B9FU30_ORYSJ_    140 KSTKQQKKITKSVISNSSIRLKELFAEVEKDLTSRSG    176
                     |||:.||||||::..:.:.:::||......::..|| 
A9RSX7_PHYPA_    151 KSTEAQKKITKNIYEHMAWQIQELIDITVAEVFERS-    186


#---------------------------------------
#---------------------------------------
