########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:00
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-74.fasta
#    [-bsequence] data/fastas/85VASTdomains-64.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q4Q507_LEIMA_35214
# 2: F8WJ74_MOUSE_365496
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 221
# Identity:      21/221 ( 9.5%)
# Similarity:    44/221 (19.9%)
# Gaps:         130/221 (58.8%)
# Score: 20.0
# 
#
#=======================================

Q4Q507_LEIMA_      1 ATRKDKKVMLPQTLLKG---------LTIQKLWDNVFQDNTNFFKKYHDK     41
                              ||.  |.|         :..::|...:|.|:. |.:.:..:
F8WJ74_MOUSE_      1 ---------LPD--LSGRLLINSVFHMGAERLQQMLFSDSP-FLQGFLQQ     38

Q4Q507_LEIMA_     42 RNESKLEIGPWD--------------YAVDHGSGSRTVSLVAIVEV----     73
                     |..:.:.:.||.              ..:.:..|.::.|:|....:    
F8WJ74_MOUSE_     39 RKFTDVTLSPWSSDSKCHQRRVLTYTIPISNQLGPKSASVVETQTLFRRG     88

Q4Q507_LEIMA_     74 PRAGTPTPLNQV--------------QRFAYVNTPEGKLMLVYQISSQTP    109
                     |:||.....::|              .|:..:.....|..|..:      
F8WJ74_MOUSE_     89 PQAGGCVVDSEVLTQGIPYQDYFYTAHRYCILGLARNKARLRNR------    132

Q4Q507_LEIMA_    110 EMPAGSSFRTEAYFEITADSADSDCSIAIWGNCRKMSMSFSAIQYIATPR    159
                                                                       
F8WJ74_MOUSE_    132 --------------------------------------------------    132

Q4Q507_LEIMA_    160 AIKEMTSAYRQMVNMISEEFC    180
                                          
F8WJ74_MOUSE_    132 ---------------------    132


#---------------------------------------
#---------------------------------------
