########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:09
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-80.fasta
#    [-bsequence] data/fastas/85VASTdomains-33.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q23QL2_TETTS_311513
# 2: B9G4K6_ORYSJ_394582
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 232
# Identity:      34/232 (14.7%)
# Similarity:    65/232 (28.0%)
# Gaps:          72/232 (31.0%)
# Score: 39.0
# 
#
#=======================================

Q23QL2_TETTS_      1 EVSTKAKWTSIDIKNVSAKEIYILFFGNNIFED---------EKQVAYTN     41
                                                     |         :::|..|.
B9G4K6_ORYSJ_      1 --------------------------------DLTGQLQPFVKEEVLVTV     18

Q23QL2_TETTS_     42 FGMYYNTTVLNELNMVYSDIVPEPPLYFTNLYDNNKLEIIDYAEY-----     86
                     |...:..|.....|.:.||    ...|.|......|.:.|:..::     
B9G4K6_ORYSJ_     19 FNGSFPCTAEEFFNTLLSD----DSSYITEFRTARKDKDINLGQWHHADE     64

Q23QL2_TETTS_     87 ---STRKCTFTHIIKEPFMPK-SCDCFIEEKIYWVSPKEILIERELAFQG    132
                        ..|:.....|...|..|. |.....:..:......:::.|.......
B9G4K6_ORYSJ_     65 YDGQVRELNCKSICHSPMCPPYSAMTEWQHMVLSADKTDLVFETVQQVHD    114

Q23QL2_TETTS_    133 IPLSSHFNPRVIYQILETGESDQIKTQIRSGYYIHYVKDTWFKSKIDKTS    182
                     :|..|.|.....:.: :|..||.....|.:|  .|:.|....:|||...:
B9G4K6_ORYSJ_    115 VPFGSFFEVHCRWSV-KTTSSDSCSLNISAG--AHFKKWCIMQSKIKSGA    161

Q23QL2_TETTS_    183 DEENIKNWEKISKLYIKYSEI-----------    203
                     .:|..|..:::    ::::|.           
B9G4K6_ORYSJ_    162 VDEYKKEVQEM----LEFAESYMRKVRTSNQD    189


#---------------------------------------
#---------------------------------------
