########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:01
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-39.fasta
#    [-bsequence] data/fastas/85VASTdomains-38.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B3KUR5_HUMAN_45223
# 2: GRM1C_HUMAN_312494
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 183
# Identity:     177/183 (96.7%)
# Similarity:   177/183 (96.7%)
# Gaps:           4/183 ( 2.2%)
# Score: 919.0
# 
#
#=======================================

B3KUR5_HUMAN_      1 ----QIENVPEKDLHGRLFINRIFHISADRMFELLFTSSRFMQKFASSRN     46
                         ..||||||||||||||||||||||||||||||||||||||||||||
GRM1C_HUMAN_3      1 SDSVDEENVPEKDLHGRLFINRIFHISADRMFELLFTSSRFMQKFASSRN     50

B3KUR5_HUMAN_     47 IIDVVSTPWTAELGGDQLRTMTYTIVLNSPLTGKCTAATEKQTLYKESRE     96
                     ||||||||||||||||||||||||||||||||||||||||||||||||||
GRM1C_HUMAN_3     51 IIDVVSTPWTAELGGDQLRTMTYTIVLNSPLTGKCTAATEKQTLYKESRE    100

B3KUR5_HUMAN_     97 ARFYLVDSEVLTHDVPYHDYFYTVNRYCIIRSSKQKCRLRVSTDLKYRKQ    146
                     ||||||||||||||||||||||||||||||||||||||||||||||||||
GRM1C_HUMAN_3    101 ARFYLVDSEVLTHDVPYHDYFYTVNRYCIIRSSKQKCRLRVSTDLKYRKQ    150

B3KUR5_HUMAN_    147 PWGLVKSLIEKNSWSSLEDYFKQLESDLLIEES    179
                     |||||||||||||||||||||||||||||||||
GRM1C_HUMAN_3    151 PWGLVKSLIEKNSWSSLEDYFKQLESDLLIEES    183


#---------------------------------------
#---------------------------------------
