########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:02
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-76.fasta
#    [-bsequence] data/fastas/85VASTdomains-24.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: I7MCY9_TETTS_788993
# 2: Q7XKT6_ORYSJ_248436
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 244
# Identity:      40/244 (16.4%)
# Similarity:    73/244 (29.9%)
# Gaps:          93/244 (38.1%)
# Score: 74.5
# 
#
#=======================================

I7MCY9_TETTS_      1 KHYLSNKDFETFELVLENTHTREVFIEIFSDKQYKDYQS-------FSHF     43
                                                |...|...|...       |.| 
Q7XKT6_ORYSJ_      1 ---------------------------IMKSKSIPDMPEDLNGGVMFDH-     22

I7MCY9_TETTS_     44 YQQTYIKDTNIDITPWQPAPSSIYTDVSSTNYQEFLESNQFSTKTNQFIH     93
                        ||:.|:                  .:.|...|...:|||.:..:...
Q7XKT6_ORYSJ_     23 ---TYLVDS------------------KNLNSLIFGPDSQFSKELRELQG     51

I7MCY9_TETTS_     94 PV----------REKVPMGPKTCQ-----------VNSEEKIFWLSSE--    120
                     .:          ....|...:|||           |.:.|:..:|.::  
Q7XKT6_ORYSJ_     52 TMDYEEQPWTWNNNNPPSLTRTCQYTKGATKFMKAVKTIEEQTYLKADGK    101

I7MCY9_TETTS_    121 EILIQREFKVSKVPMADCFTTQNFYHI-----QQTGPTTVKITFGFFINF    165
                     ..:|....:..:||..:||.....|.|     ..:......:|..:.:.|
Q7XKT6_ORYSJ_    102 SYVIMTRVRTPEVPFGNCFEVVMLYKIIHYPELSSSEGMSHLTVSYNVEF    151

I7MCY9_TETTS_    166 VKSSMFKSLI---VKSSGSENRETWNGKFKGLITEQIKFAQNQR    206
                     ::|:|.||:|   |:....||.|:    :..:::..:|.|.:  
Q7XKT6_ORYSJ_    152 LQSTMMKSMIEGSVRDGLKENFES----YAEILSRHVKIADS--    189


#---------------------------------------
#---------------------------------------
