########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:24
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-51.fasta
#    [-bsequence] data/fastas/85VASTdomains-65.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q8MRR1_DROME_41220
# 2: Q86AF6_DICDI_540708
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 195
# Identity:      42/195 (21.5%)
# Similarity:    82/195 (42.1%)
# Gaps:          41/195 (21.0%)
# Score: 134.0
# 
#
#=======================================

Q8MRR1_DROME_      1 FVPTTECTSTHEGRQIVHTILP-------INVDTLFNLLFSKSKFITDFH     43
                                          |       |::...:.|: .::.|....:
Q86AF6_DICDI_      1 ---------------------PWSTEKYQISISEFYQLI-CRTDFWGSVN     28

Q8MRR1_DROME_     44 AMRKSTDLVLGEWTKNEEGLQVRTVNVTVQLAASVGPKTSKVTEYQTQRE     93
                     .....|:..|.||.:.......|.::....::..:|||:::|  |||||.
Q86AF6_DICDI_     29 TTHSYTEQNLTEWKQTNNCCIHRNMDFRTAISFKIGPKSTRV--YQTQRC     76

Q8MRR1_DROME_     94 CSKPGELYSIDVNSVNAGIPYAESFSVLIHFCLARTVDDHTMLS-IHTQI    142
                     ..|....:.:...||:..:||.::||| .:..:.:.:|:.:.|: :.::|
Q86AF6_DICDI_     77 KLKNKSEFILQSTSVSKDVPYGDAFSV-ENLLVVQAIDNSSCLTKLSSKI    125

Q8MRR1_DROME_    143 KYKKSIWGVVKGFIEKNTWAGLEDFF--GAQLHALQSETC-----    180
                     |:.||:|| :...|:|....|.::||  ...:...|.||.     
Q86AF6_DICDI_    126 KFTKSVWG-LSSMIQKTALQGNKEFFVLWNTMVRNQIETYVYNKM    169


#---------------------------------------
#---------------------------------------
