########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:09
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-80.fasta
#    [-bsequence] data/fastas/85VASTdomains-23.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q23QL2_TETTS_311513
# 2: A9TQF1_PHYPA_8201003
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 238
# Identity:      42/238 (17.6%)
# Similarity:    72/238 (30.3%)
# Gaps:          89/238 (37.4%)
# Score: 70.5
# 
#
#=======================================

Q23QL2_TETTS_      1 EVSTKAKWTSIDIKNVSAKEIYILFFGNNIFEDEKQVAYTNFGMYYNTTV     50
                                                        ..|.|..||    ..
A9TQF1_PHYPA_      1 -----------------------------------DDADTFTGM----EE     11

Q23QL2_TETTS_     51 LNELNMVYSDIVPEPPLYF---TNLYDNNKLEIIDYAEYSTRKCTFTHII     97
                     .|.:|:...||    ||..   .:|::..:||     |....|..:.:.:
A9TQF1_PHYPA_     12 ANMVNVCAFDI----PLTMDSAMSLFEKGRLE-----EVVAEKMGYINFV     52

Q23QL2_TETTS_     98 KEP-------------------------FMPK-SCDCFIEEKIYWVSPKE    121
                     ..|                         |..| ||   |::|....:.|.
A9TQF1_PHYPA_     53 STPWERLEGQNNVQRRQVSYHLNRQISQFGSKVSC---IQQKTMLDNMKL     99

Q23QL2_TETTS_    122 ILIERELAFQGIPLSSHFNPRVIYQILETGESDQIKTQIRSGYYIHYVKD    171
                     .:::..|....:|...||..:|...| ||...:..|:.:::...:.:.|:
A9TQF1_PHYPA_    100 YILDEVLTLHDVPFGDHFQVQVRRDI-ETTSINPPKSSVKAYVGVSWHKN    148

Q23QL2_TETTS_    172 TWFKSKIDKTSDEENIKNWEKISKLYIKYSEI------    203
                     |.||.||.|...:...|...:...:.:|  |:      
A9TQF1_PHYPA_    149 TEFKKKITKNVQDHMAKEIREAMNVSVK--EVKALVKD    184


#---------------------------------------
#---------------------------------------
