########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:28
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-54.fasta
#    [-bsequence] data/fastas/85VASTdomains-65.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q8MKJ8_DROME_144324
# 2: Q86AF6_DICDI_540708
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 192
# Identity:      38/192 (19.8%)
# Similarity:    73/192 (38.0%)
# Gaps:          34/192 (17.7%)
# Score: 115.0
# 
#
#=======================================

Q8MKJ8_DROME_      1 EDLTARCSASHEGRKLLQERLMVRVDALFNMLFSASPFLQSFHERRKSTD     50
                                   ....|:..:.:.. |..|...:.|..|.:.....|:
Q86AF6_DICDI_      1 --------------PWSTEKYQISISE-FYQLICRTDFWGSVNTTHSYTE     35

Q8MKJ8_DROME_     51 LNMGVWARNAGGQNQRTVSMTVALQANVGPKTAKITETQTMRECSQPGQL    100
                     .|:..|.:.......|.:....|:...:|||:.::.:||   .|....:.
Q86AF6_DICDI_     36 QNLTEWKQTNNCCIHRNMDFRTAISFKIGPKSTRVYQTQ---RCKLKNKS     82

Q8MKJ8_DROME_    101 -YSIDVQSVNADIPYADTFVVLMHFCLKATVEEHTDVLVFAEIQFLKSVW    149
                      :.:...||:.|:||.|.|.|.....::|.........:.::|:|.||||
Q86AF6_DICDI_     83 EFILQSTSVSKDVPYGDAFSVENLLVVQAIDNSSCLTKLSSKIKFTKSVW    132

Q8MKJ8_DROME_    150 AVVKTFIERNAYAGLEEFCQSLYSALLIEIRK----------    181
                     . :.:.|::.|..|.:||. .|::.:   :|.          
Q86AF6_DICDI_    133 G-LSSMIQKTALQGNKEFF-VLWNTM---VRNQIETYVYNKM    169


#---------------------------------------
#---------------------------------------
