########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:27
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-54.fasta
#    [-bsequence] data/fastas/85VASTdomains-1.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q8MKJ8_DROME_144324
# 2: B9FU30_ORYSJ_284472
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 200
# Identity:      46/200 (23.0%)
# Similarity:    81/200 (40.5%)
# Gaps:          30/200 (15.0%)
# Score: 84.0
# 
#
#=======================================

Q8MKJ8_DROME_      1 --EDLTARCSASHEGRKLLQERLMVRVDALFNMLFSA-SPFLQSFHERRK     47
                       :|......|:..|..|:.|..:.....|.::|||. |.|..:..|.:.
B9FU30_ORYSJ_      1 ESKDQGCEMPANLPGGVLIDESYVAAPTELNSLLFSKNSDFWPAVSELQG     50

Q8MKJ8_DROME_     48 STDLNMGVWARNAGGQN----QRTVSMTVALQANVGPKTAKITETQTMRE     93
                     ::...:..|..:   .|    |||::.|.|....|  |..|.||.|...:
B9FU30_ORYSJ_     51 TSGFQIEPWKLD---NNETCLQRTLTYTKAASKLV--KAVKATEEQKYLK     95

Q8MKJ8_DROME_     94 CSQPGQLYSIDVQSVNADIPYADTFVVLMHFCL----KATVEEHTDVLVF    139
                     .:  |..:::.......|:|....|.:.:.:|:    ..:.||.|..|..
B9FU30_ORYSJ_     96 AA--GNSFAVHSVVSTPDVPCGGCFKIEILYCITPGPSLSSEEQTSHLTV    143

Q8MKJ8_DROME_    140 A-EIQFLKSVWAVVKTFIERNAYAGLEE-FCQSLYSALLIEIRK------    181
                     : .:.|::|  .::|..||..|..|:.| |..  :|.:|.:..|      
B9FU30_ORYSJ_    144 SWRVNFVQS--TMMKGMIESGAKQGMAEGFAH--FSEILSQKIKVAEADD    189


#---------------------------------------
#---------------------------------------
