########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:11
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-44.fasta
#    [-bsequence] data/fastas/85VASTdomains-49.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q2MGF5_CAEEL_57244
# 2: C4M0I0_ENTHI_381531
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 200
# Identity:      25/200 (12.5%)
# Similarity:    55/200 (27.5%)
# Gaps:          61/200 (30.5%)
# Score: 24.0
# 
#
#=======================================

Q2MGF5_CAEEL_      1 DEIIEEVPCPCSEHFGRLIMDKEFKVSVEKFYELLFTDNEFL-TMLNQKT     49
                        .:|||.|      :.....:.|..:|.  .:..|..:|. |.:..||
C4M0I0_ENTHI_      1 ---DDEVPEP------KFFKQPKMKTIIET--TIPITPLQFFNTFVENKT     39

Q2MGF5_CAEEL_     50 KTAEYVAATWVRDHQGDNTRTCTYTVSLAHAM-----------APKAIIV     88
                     ::.:..    :|:..|......|...|:.:..           .|...:.
C4M0I0_ENTHI_     40 RSKQIK----LREELGQTNIEMTDWKSIQNGFTRNINTIEPVDTPNGKVT     85

Q2MGF5_CAEEL_     89 NEKQILTHYPNPKQGIMMQKETQNSGVPYSDNFTVNCRYCISRTGPTSCR    138
                     ...||...|...|..:::  .:..:.:...|.::...|..::.:......
C4M0I0_ENTHI_     86 TRAQIQQFYQLKKSALII--GSIRNYLDSQDYYSTETRLLLNLSKNNESI    133

Q2MGF5_CAEEL_    139 IKVHGGVMYKKSTWAVVKTFIEKGTHQGLDEHYQLLSKLVDEYAANHPDE    188
                     :.:...::.||......|                                
C4M0I0_ENTHI_    134 LTIQANILLKKKGDEKEK--------------------------------    151


#---------------------------------------
#---------------------------------------
