########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:40
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-61.fasta
#    [-bsequence] data/fastas/85VASTdomains-9.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: V5IMN0_NEUCR_493676
# 2: Q22US2_TETTS_14441649
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 246
# Identity:      37/246 (15.0%)
# Similarity:    62/246 (25.2%)
# Gaps:         102/246 (41.5%)
# Score: 33.5
# 
#
#=======================================

V5IMN0_NEUCR_      0 --------------------------------------------------      0
                                                                       
Q22US2_TETTS_      1 EPNEKYKHKLIDYTFNYQNQAINLQQVFNFFFSDSLKFKEYSDFQEYIKR     50

V5IMN0_NEUCR_      1 TECGDAATHYDRVIGDDVVPAPLGKVYNLLFGAPSSAWMTKWLLNDQKCF     50
                     .:.||    ||              ..:.||..|...:   :....|:..
Q22US2_TETTS_     51 GKMGD----YD--------------YQSTLFSPPIPKY---FQFKSQRLD     79

V5IMN0_NEUCR_     51 E--INMDDKKGLNNEQKTRTFNYIKPLNASIGPKQTKCMVTE-------Q     91
                     |  |...|    .:|::.|..:.:.|.|....||  .|.|.|       .
Q22US2_TETTS_     80 EDLIASPD----YSEREVRLTHPLPPSNIPFMPK--TCQVREVTRVYWVS    123

V5IMN0_NEUCR_     92 LDNLDFEKAVNVTVSTQNPDVPNGNIFVVKTKYCLSWAENNATRVQINCT    141
                     .|.:    .||:...|..  :|.|:.|.|:.:......:...........
Q22US2_TETTS_    124 NDTI----VVNLEAFTSG--IPKGDSFTVRVRSIFKQIDEENIHFSQYSY    167

V5IMN0_NEUCR_    142 IEWSGKSWLKGAIERGANEGQAQYAKDLFVALKAAVSSRPRSN---    184
                     :.:...::|:|.||.|..|       ...:|:|..|....:..   
Q22US2_TETTS_    168 VHFLESTFLQGKIENGTIE-------QSHIAVKNCVLPAYQEAFQM    206


#---------------------------------------
#---------------------------------------
