########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:33
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-58.fasta
#    [-bsequence] data/fastas/85VASTdomains-16.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q4P940_USTMA_8271016
# 2: C2GR2_ARATH_238426
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 212
# Identity:      49/212 (23.1%)
# Similarity:    87/212 (41.0%)
# Gaps:          45/212 (21.2%)
# Score: 122.5
# 
#
#=======================================

Q4P940_USTMA_      1 HRKTTCPCEEKKEHFS-SVVLDTTYPAVPEKIYNLLFT--STFMKEFWTD     47
                     .:.:....||..|:.: .|::|..|...|.::...|||  |.|.||. .:
C2GR2_ARATH_2      1 MQSSDSEREEMPENLTGGVLVDQKYLVSPCELNKFLFTPSSQFRKEL-AE     49

Q4P940_USTMA_     48 DQKLLDLQISEWSPNADNRNLLSRNISYIKPLAGGFGPKQTKCVLTDEN-     96
                     .|.|.|:|...|:...::...|:|.::|::.     ..|..|.|...|| 
C2GR2_ARATH_2     50 LQGLSDVQEGPWTMMQEDTPRLTRVVTYMRA-----ATKMVKAVKATENQ     94

Q4P940_USTMA_     97 --LHVDFDNYVVTLTTTRTPDVPSGGSFSVKTKTCI-----TWAGTGNVS    139
                       .......:.|.::.: |||||.|.:|.::....|     ..|| |..|
C2GR2_ARATH_2     95 VYRKASGKQFAVFVSVS-TPDVPYGNTFKIELLYKILPETEPTAG-GEAS    142

Q4P940_USTMA_    140 HVYVTCQVEWSGRSMLKSIIDKASLDGQKQ-----------YYKELDEAV    178
                     .:.::..:::|..:::|.:|:..:..|.|:           .||.||   
C2GR2_ARATH_2    143 RLIISWGIQFSQSTIMKGMIEGGARQGLKESFEQFSNLLAKTYKTLD---    189

Q4P940_USTMA_    179 RKYLTDHTSEFK    190
                                 
C2GR2_ARATH_2    189 ------------    189


#---------------------------------------
#---------------------------------------
