########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:50
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-32.fasta
#    [-bsequence] data/fastas/85VASTdomains-78.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: YHO0_YEAST_9571143
# 2: YFE2_YEAST_402586
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 199
# Identity:      55/199 (27.6%)
# Similarity:    88/199 (44.2%)
# Gaps:          26/199 (13.1%)
# Score: 216.5
# 
#
#=======================================

YHO0_YEAST_95      1 PTEPDIQKDKDDSIIRENENIPAPLGTVVQLLFGSNTEYMQKVITRDKNN     50
                     |.||   ...::.:::|.....|| |.:.:::|.|..........|.:..
YFE2_YEAST_40      1 PAEP---MANNEFVLKELPFDCAP-GILFEIMFNSEQNEFLLDFLRGQEG     46

YHO0_YEAST_95     51 VNVETIPKFTPSLVEGGS----RHYEYTKKLNNSIGPKQTKCLLTESIEH     96
                     ..:.|||.||.  ::|.|    |.|.|.|.|:...|||.|.|.:.|.|:.
YFE2_YEAST_40     47 SQITTIPNFTS--IDGSSMTLKREYSYEKALHFPAGPKSTTCYVAEVIKR     94

YHO0_YEAST_95     97 MDINNYVLVTQTTKTPDVPSGSNFAVESKIFLFWGQHDTTNMTVITKINW    146
                     .|.:.|..|..:.:||:||||.:|:.:::..:.|....|..:.|...:.|
YFE2_YEAST_40     95 KDPDTYYEVISSIRTPNVPSGGSFSTKTRYLIRWNDEITCLLRVSFWVEW    144

YHO0_YEAST_95    147 TSKSFLKGAIEKGSVEGQKVSVDYMLSELRDIISRAKSKKP--------    187
                     |..|::||.:|.|...||        .|...::.|..||..        
YFE2_YEAST_40    145 TGSSWIKGMVENGCKNGQ--------LEAAQLMERILSKFIKNNVEECQ    185


#---------------------------------------
#---------------------------------------
