########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:28
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-54.fasta
#    [-bsequence] data/fastas/85VASTdomains-56.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q8MKJ8_DROME_144324
# 2: B8C8I7_THAPS_81294
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 234
# Identity:      52/234 (22.2%)
# Similarity:    85/234 (36.3%)
# Gaps:          73/234 (31.2%)
# Score: 105.5
# 
#
#=======================================

Q8MKJ8_DROME_      1 EDLTARCSASHEGRKLLQERLMVRV----DALFNMLFSASPFLQSFHERR     46
                          .|..:....:.|......||    ||:::|        :.|.:||
B8C8I7_THAPS_      1 -----HCVINQVQLQGLHTAEFFRVFFADDAIYSM--------RDFQKRR     37

Q8MKJ8_DROME_     47 KSTDLNMGVW--ARNAGG-------------------QNQRTVSMTVALQ     75
                     ...|:..|.|  ..|:.|                   ..:||:.......
B8C8I7_THAPS_     38 GDVDVVYGKWRSVENSAGCCTSFKGGKSTLLPLPANLTKERTLHFNTLTH     87

Q8MKJ8_DROME_     76 ANVGPKTAKITETQTMRECSQPGQLYSIDVQSVNADIPYADTFVVLMHFC    125
                     :..||..||.|:.|...:.|  .:|..|:.::..|:||:||.|.|:..:|
B8C8I7_THAPS_     88 SYFGPAYAKATKVQRATQLS--NRLLVIENETQLAEIPFADRFRVVERWC    135

Q8MKJ8_DROME_    126 LKATVEE-----------------HTDVL-VFAEIQFLKS-VW------A    150
                     ::|...|                 :|..| |.||:..|:| .|      .
B8C8I7_THAPS_    136 VEAVRNEMSGGASDGCAFSQDMALYTSKLTVHAEVIMLRSCTWENQIRKR    185

Q8MKJ8_DROME_    151 VVKTFIERNAYAGLEEFCQSLYSAL-LIEIRK--    181
                     ..:||.|.|     .::.::...|| ..|.:|  
B8C8I7_THAPS_    186 ASETFTEMN-----NDWVRTAVKALRATEHQKQK    214


#---------------------------------------
#---------------------------------------
