########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:10
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-44.fasta
#    [-bsequence] data/fastas/85VASTdomains-37.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q2MGF5_CAEEL_57244
# 2: GRM1C_HUMAN_107289
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 190
# Identity:      59/190 (31.1%)
# Similarity:    94/190 (49.5%)
# Gaps:           9/190 ( 4.7%)
# Score: 264.0
# 
#
#=======================================

Q2MGF5_CAEEL_      1 DEIIEEVPCPCSEHFGRLIMDKEFKVSVEKFYELLFTDNEFLTMLNQKTK     50
                     .:.::|...|..:..|||.:::.|.:|.::.:|||||.:.|:........
GRM1C_HUMAN_1      1 SDSVDEENVPEKDLHGRLFINRIFHISADRMFELLFTSSRFMQKFASSRN     50

Q2MGF5_CAEEL_     51 TAEYVAATWVRDHQGDNTRTCTYTVSLAHAMAPKAIIVNEKQILTHYPNP    100
                     ..:.|:..|..:..||..||.|||:.|...:..|.....|||.|......
GRM1C_HUMAN_1     51 IIDVVSTPWTAELGGDQLRTMTYTIVLNSPLTGKCTAATEKQTLYKESRE    100

Q2MGF5_CAEEL_    101 KQGIMMQKETQNSGVPYSDNF-TVNCRYCISRTGPTSCRIKVHGGVMYKK    149
                     .:..::..|.....|||.|.| ||| ||||.|:....||::|...:.|:|
GRM1C_HUMAN_1    101 ARFYLVDSEVLTHDVPYHDYFYTVN-RYCIIRSSKQKCRLRVSTDLKYRK    149

Q2MGF5_CAEEL_    150 STWAVVKTFIEKGTHQGLDEHY-QLLSKLVDEYAANHPDE    188
                     ..|.:||:.|||.:...|:::: ||.|.|:.|.:      
GRM1C_HUMAN_1    150 QPWGLVKSLIEKNSWSSLEDYFKQLESDLLIEES------    183


#---------------------------------------
#---------------------------------------
