########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:33
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-58.fasta
#    [-bsequence] data/fastas/85VASTdomains-17.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q4P940_USTMA_8271016
# 2: C2GR2_ARATH_8491023
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 204
# Identity:      42/204 (20.6%)
# Similarity:    69/204 (33.8%)
# Gaps:          43/204 (21.1%)
# Score: 50.5
# 
#
#=======================================

Q4P940_USTMA_      1 --------HRKTTC--PCEEK--KEHFSSVVLDTTYPAVPEKIYNLLFTS     38
                             .:..||  ||:.:  .:.|....|:.   .:.||...|.:.|
C2GR2_ARATH_8      1 SDADALMMSKVYTCDLPCDVELVMKIFGGGELER---KIMEKSGCLSYAS     47

Q4P940_USTMA_     39 TFMKEFWTDDQKLLDLQISEWSPNADNRNLLSRNISYIKPLAGGFGPKQT     88
                     |      |.:.|         .|....|.|..:...|:....||....|.
C2GR2_ARATH_8     48 T------TWESK---------KPGVYERRLSYKYNHYVSVFGGGVTCAQQ     82

Q4P940_USTMA_     89 KC-VLTDENLHVDFDNYVVTLTTTRTPDVPSGGSFSVKTKTCITWAGTG-    136
                     |. ...||...:   |.:|.|     .|||.|..|.|..:..:..||.. 
C2GR2_ARATH_8     83 KSPAPNDEGWIL---NEIVAL-----HDVPFGDHFRVHIRYEVKKAGVDC    124

Q4P940_USTMA_    137 NVSHVYVTCQVEWSGRSMLKSIIDKASLDGQKQYYKELDEAVRKYLTDHT    186
                     ..|...|..::.|......:..|.|:.::..:..:|.:.:..:|....::
C2GR2_ARATH_8    125 KTSKCEVYLKIRWLKTIKFEQRISKSIMEKFRNRFKVIFDLFQKESVANS    174

Q4P940_USTMA_    187 SEFK    190
                     |   
C2GR2_ARATH_8    175 S---    175


#---------------------------------------
#---------------------------------------
