########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:27
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-54.fasta
#    [-bsequence] data/fastas/85VASTdomains-40.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q8MKJ8_DROME_144324
# 2: GRM1C_MOUSE_107289
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 192
# Identity:      50/192 (26.0%)
# Similarity:    93/192 (48.4%)
# Gaps:          20/192 (10.4%)
# Score: 240.5
# 
#
#=======================================

Q8MKJ8_DROME_      1 -----------EDLTARCSASHEGRKLLQERLMVRVDALFNMLFSASPFL     39
                                :||        :||..:.....:..:.:|.:||::|.|:
GRM1C_MOUSE_1      1 SDSVDEENIPEKDL--------QGRLYINRVFHISAERMFELLFTSSHFM     42

Q8MKJ8_DROME_     40 QSFHERRKSTDLNMGVWARNAGGQNQRTVSMTVALQANVGPKTAKITETQ     89
                     |.|...|...|:....|...:||...||::.|:.|...:..|....||.|
GRM1C_MOUSE_1     43 QRFANSRNIIDVVSTPWTVESGGNQLRTMTYTIVLSNPLTGKYTAATEKQ     92

Q8MKJ8_DROME_     90 TMRECSQPGQLYSIDVQSVNADIPYADTFVVLMHFCLKATVEEHTDVLVF    139
                     |:.:.|:..|.|.:|.:.:..|:||.|.|..|..:|:..:.::...:.|.
GRM1C_MOUSE_1     93 TLYKESREAQFYLVDSEVLTHDVPYHDYFYTLNRYCIVRSAKQRCRLRVS    142

Q8MKJ8_DROME_    140 AEIQFLKSVWAVVKTFIERNAYAGLEEFCQSLYSALLIEIRK    181
                     .::::.|..|.::|:.||:|:::.||.:.:.|.|.||:|.. 
GRM1C_MOUSE_1    143 TDLKYRKQPWGLIKSLIEKNSWSSLESYFKKLESDLLMEES-    183


#---------------------------------------
#---------------------------------------
