########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:34
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-22.fasta
#    [-bsequence] data/fastas/85VASTdomains-47.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: A9TQF1_PHYPA_224401
# 2: GRM1A_MOUSE_365539
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 189
# Identity:      43/189 (22.8%)
# Similarity:    82/189 (43.4%)
# Gaps:          25/189 (13.2%)
# Score: 113.0
# 
#
#=======================================

A9TQF1_PHYPA_      1 VDDFPPPLASGVVLDQRYGTSAKSLSALICKAGSPFIQELLTCLKTTEYS     50
                         .|.|:..::::..:...|:.|..::. :.|||:|..|...|.|:.:
GRM1A_MOUSE_3      1 ----LPDLSGRLLINSVFHMGAERLQQMLF-SDSPFLQGFLQQRKFTDVT     45

A9TQF1_PHYPA_     51 EEPWKRANNGCIERVVSYMKAATKII--KAVKASESHTCRRLDDR--GFI     96
                     ..||...:.....||::|....:..:  |:....|:.|..|...:  |.:
GRM1A_MOUSE_3     46 LSPWSSDSKCHQRRVLTYTIPISNQLGPKSASVVETQTLFRRGPQAGGCV     95

A9TQF1_PHYPA_     97 LDISCSTPDVPYGSNFMVKLQFCILAGQDLPSQEKTCRLQVSWTLHFLHS    146
                     :|....|..:||...|....::|||.     ......||:||..:.:...
GRM1A_MOUSE_3     96 VDSEVLTQGIPYQDYFYTAHRYCILG-----LARNKARLRVSSEIRYRKQ    140

A9TQF1_PHYPA_    147 --TMMKGMIENGARAGIKETY-ELYREVLSRYAKP----    178
                       :::|.:||..:.:||::.: .|.||:    ||.    
GRM1A_MOUSE_3    141 PWSLVKSLIEKNSWSGIEDYFHHLDREL----AKAEKLS    175


#---------------------------------------
#---------------------------------------
