########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:21
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-12.fasta
#    [-bsequence] data/fastas/85VASTdomains-85.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: C2GR1_ARATH_236423
# 2: I7M5W4_TETTS_346560
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 226
# Identity:      40/226 (17.7%)
# Similarity:    89/226 (39.4%)
# Gaps:          49/226 (21.7%)
# Score: 47.0
# 
#
#=======================================

C2GR1_ARATH_2      1 --ESKDQGSEPPSNL-SGGVVVDQLFMISPSDLNIVLFASD------SSF     41
                       .:.|..|...|.| ...:...::|.|..|:   .:|.||      :||
I7M5W4_TETTS_      1 RKINSDFNSATFSELVLKNITAREVFGIFFSN---QIFVSDRLQRKFTSF     47

C2GR1_ARATH_2     42 --YASLTELQGT----TEVQIGPWKAEND------------GESVKRVVS     73
                       :..|..|.||    :|:|:.|.:..|.            .||.:|.:|
I7M5W4_TETTS_     48 LEFFILEYLHGTNVSVSEIQLPPPEIFNSIYSNNYLQLLEYPESSERHIS     97

C2GR1_ARATH_2     74 YL----KAATKLIKAVKGTEEQTYLKADGEVYAVLASVATPDVPFGGTFK    119
                     :.    .|:..|.|:::...::|......:.:.::..::....|      
I7M5W4_TETTS_     98 FTHNIPNASAFLPKSLQCQMKETIYWQSPQSFTLVRLLSLKGAP------    141

C2GR1_ARATH_2    120 VEVLYCISPGPELPSGEQCSRLVV--SWRLNFLQSTMMRGMIENGARQGL    167
                       ::.|:.|.......|.....::  .:.::|..:||.:.:||..:::..
I7M5W4_TETTS_    142 --IITCVEPRVVFYVDEVNGNTILRSGFYVHFKSNTMFKKIIEKSSKEEN    189

C2GR1_ARATH_2    168 KDNFEQYANLLA----QSVKPVDSK-    188
                     :..:.:..|:::    :.:|..|.. 
I7M5W4_TETTS_    190 EKTWNELKNVMSNVSEEYIKKRDQNK    215


#---------------------------------------
#---------------------------------------
