########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:17
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-85.fasta
#    [-bsequence] data/fastas/85VASTdomains-75.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: I7M5W4_TETTS_346560
# 2: C4LUM2_ENTHI_46249
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 255
# Identity:      42/255 (16.5%)
# Similarity:    83/255 (32.5%)
# Gaps:          91/255 (35.7%)
# Score: 39.0
# 
#
#=======================================

I7M5W4_TETTS_      1 -RKINSDFNSATFSELVLKNITAREVFGIFFSNQIFVSDRLQRKFTSFLE     49
                      |:      |..||| .||.||.|:.......|.   :|.          
C4LUM2_ENTHI_      1 WRR------SIIFSE-KLKQITKRQKNETIDKNS---NDE----------     30

I7M5W4_TETTS_     50 FFILEYLHGTNVSVSEIQLPPPEIFNSIYSNNYLQLLEYPESSERHISFT     99
                      .||:......|::........::|..::|||......:....::.:   
C4LUM2_ENTHI_     31 -GILKEEPKHVVTIHRFHKSANDLFMLVFSNNETVKQLFDNIGQKEV---     76

I7M5W4_TETTS_    100 HNIPNASAFLPKSLQCQMKETIYWQSPQSFTLVRLLSLKGAPIITCVEPR    149
                                        :|..||:..:...:..||.||...:..:|.|
C4LUM2_ENTHI_     77 -------------------KTEGWQNEANGGKILYLSYKGVSSVIGMETR    107

I7M5W4_TETTS_    150 VVFYVDE-----VNGNTIL-----------RSGFY---------------    168
                         ::|     :|.|.|:           .|.::               
C4LUM2_ENTHI_    108 ----IEEKWEMRMNENGIMIAMVVSVFDIPYSSYFKIESLMKMKDEGEYC    153

I7M5W4_TETTS_    169 -------VHFKSNTMFKKIIEKSSKEENEKTWNE-LKNVMSNVSEEYIKK    210
                            |.|..:|::|..||:::.:|.:..:.| :|.:...:.:...::
C4LUM2_ENTHI_    154 DIVVKLNVKFMKSTIWKNRIEQTTMKEYKNKYEEWMKLIGKMIGDSQFEE    203

I7M5W4_TETTS_    211 RDQNK    215
                     .    
C4LUM2_ENTHI_    204 T----    204


#---------------------------------------
#---------------------------------------
