########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:24
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-52.fasta
#    [-bsequence] data/fastas/85VASTdomains-14.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q86AF7_DICDI_286471
# 2: A9TQ08_PHYPA_235415
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 207
# Identity:      47/207 (22.7%)
# Similarity:    83/207 (40.1%)
# Gaps:          47/207 (22.7%)
# Score: 111.5
# 
#
#=======================================

Q86AF7_DICDI_      1 VECKDMSTTAKINQLQHY---------VNERFEISCIKFYTLMI---DSD     38
                                    :.:         :::|:.:|. ||.:.:|   .|.
A9TQ08_PHYPA_      1 ---------------EDFPPPLAGGVVLDQRYAVSS-KFLSALILKAGSP     34

Q86AF7_DICDI_     39 F---WAYVSKECGFLDMKESEWVTSESCCHQERTLNFKTPISFKIGPKVA     85
                     |   ...|.|...::   |..|.:.:|...| |.:.:....:..|  |..
A9TQ08_PHYPA_     35 FVQELLTVQKTTEYI---EGPWKSEQSGAIQ-RVVTYMKAATKMI--KAV     78

Q86AF7_DICDI_     86 TVQQTQKIRRTPTNGYVMETSSLSKDVPYGDSFSVENYLTLEPCPESP--    133
                     ...:||..||....|:|::.|..:.|||||..|.||....:...|:.|  
A9TQ08_PHYPA_     79 KATETQTCRRQDEKGFVVDVSCATPDVPYGGCFVVELQFCILAGPDQPSN    128

Q86AF7_DICDI_    134 QDSCILKVSTAVKFIKSIWGLGGLIEKTVTQSNKEFFACW----INFAKK    179
                     :.||.|::|..:.|::|.. :..:||.......||.:..:    .|.||.
A9TQ08_PHYPA_    129 EKSCRLQISWKLNFLQSTM-MRSMIENGARAGIKETYEVYRQVLANHAKS    177

Q86AF7_DICDI_    180 RISDQAS    186
                      :|::  
A9TQ08_PHYPA_    178 -VSEE--    181


#---------------------------------------
#---------------------------------------
