########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:22
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-14.fasta
#    [-bsequence] data/fastas/85VASTdomains-27.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: A9TQ08_PHYPA_235415
# 2: YSP2_YEAST_10461230
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 205
# Identity:      41/205 (20.0%)
# Similarity:    71/205 (34.6%)
# Gaps:          44/205 (21.5%)
# Score: 99.0
# 
#
#=======================================

A9TQ08_PHYPA_      1 ---------------------EDFPPPLAGGVVLDQRYAVSSKFLSALIL     29
                                          .:.|.||  |.|....|...:.::..:|.
YSP2_YEAST_10      1 VHDPTEPDFQKGKDDTVIDEKINIPVPL--GTVFSLLYGDDTSYIKKIIE     48

A9TQ08_PHYPA_     30 KAGSPFVQELLTVQKTTEYIEGPWKSEQSGAIQRVVTYMKAATKMI--KA     77
                     .      |....|....:::..          .|.:||.|......  |.
YSP2_YEAST_10     49 N------QNNFNVCDIPKFVNN----------AREITYTKKLNNSFGPKQ     82

A9TQ08_PHYPA_     78 VKATETQTCRRQD-EKGFVVDVSCATPDVPYGGCFVVELQFCILAGPDQP    126
                     .|...|:|....| ...|:|.....:||||||..|.|..:|....|....
YSP2_YEAST_10     83 TKCIVTETIEHMDLNSFFMVKQIVRSPDVPYGSSFSVHTRFFYSWGDHNT    132

A9TQ08_PHYPA_    127 SNEKSCRLQISWKLNFLQSTMMRSMIENGARAGIKETYEVYRQVLANHAK    176
                     :|.|.....:....:.|:.|:.:..|: |.|:..|:..:..:::::| |.
YSP2_YEAST_10    133 TNMKVVTNVVWTGKSMLKGTIEKGSID-GQRSSTKQLVDDLKKIISN-AS    180

A9TQ08_PHYPA_    177 SVSEE    181
                     |..::
YSP2_YEAST_10    181 STKKK    185


#---------------------------------------
#---------------------------------------
