########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:24
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-52.fasta
#    [-bsequence] data/fastas/85VASTdomains-27.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q86AF7_DICDI_286471
# 2: YSP2_YEAST_10461230
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 238
# Identity:      44/238 (18.5%)
# Similarity:    64/238 (26.9%)
# Gaps:         105/238 (44.1%)
# Score: 70.0
# 
#
#=======================================

Q86AF7_DICDI_      1 ----------------------------------VECKDMSTTAKINQLQ     16
                                                       :...|.|...||.:.|
YSP2_YEAST_10      1 VHDPTEPDFQKGKDDTVIDEKINIPVPLGTVFSLLYGDDTSYIKKIIENQ     50

Q86AF7_DICDI_     17 H---------YVNERFEISCIKFYTLMIDSDFWAYVSKECGFLDMKESEW     57
                     :         :||...||:    ||..:::.|                  
YSP2_YEAST_10     51 NNFNVCDIPKFVNNAREIT----YTKKLNNSF------------------     78

Q86AF7_DICDI_     58 VTSESCCHQERTLNFKTPISFKIGPKVATVQQTQKIRRTPTNGYVMETSS    107
                                            |||......|:.|.....|.:.|....
YSP2_YEAST_10     79 -----------------------GPKQTKCIVTETIEHMDLNSFFMVKQI    105

Q86AF7_DICDI_    108 L-SKDVPYGDSFSVENYLTLEPCPESPQDSCILKVSTAVKFIKSIWG---    153
                     : |.|||||.||||.......   ....::..:||.|.|     :|.   
YSP2_YEAST_10    106 VRSPDVPYGSSFSVHTRFFYS---WGDHNTTNMKVVTNV-----VWTGKS    147

Q86AF7_DICDI_    154 -LGGLIEKTVTQSNKEFFACWINFAKKRISDQAS----    186
                      |.|.|||......:......::..||.||:.:|    
YSP2_YEAST_10    148 MLKGTIEKGSIDGQRSSTKQLVDDLKKIISNASSTKKK    185


#---------------------------------------
#---------------------------------------
