########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:46
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-3.fasta
#    [-bsequence] data/fastas/85VASTdomains-58.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q5Z6I4_ORYSJ_261445
# 2: Q4P940_USTMA_8271016
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 201
# Identity:      56/201 (27.9%)
# Similarity:    85/201 (42.3%)
# Gaps:          27/201 (13.4%)
# Score: 150.5
# 
#
#=======================================

Q5Z6I4_ORYSJ_      1 HEGNEIP-----ENLSGGVLIDQVYAVAPSDLNGLLFSPSSDFLQSL-AE     44
                     |.....|     |:.| .|::|..|...|..:..|||  :|.|::.. .:
Q4P940_USTMA_      1 HRKTTCPCEEKKEHFS-SVVLDTTYPAVPEKIYNLLF--TSTFMKEFWTD     47

Q5Z6I4_ORYSJ_     45 MQGTTGLEIQQWRLENDG-EVLKRVVSYTKAPTA------LVKAVKATED     87
                     .|....|:|.:|....|. .:|.|.:||.| |.|      ..|.|...|:
Q4P940_USTMA_     48 DQKLLDLQISEWSPNADNRNLLSRNISYIK-PLAGGFGPKQTKCVLTDEN     96

Q5Z6I4_ORYSJ_     88 VSYLKADGDIY-ATLADVSTPDVPFGNSFRVEVLTCIMPGPELPDNEKSS    136
                        |..|.|.| .||....|||||.|.||.|:..|||    ........|
Q4P940_USTMA_     97 ---LHVDFDNYVVTLTTTRTPDVPSGGSFSVKTKTCI----TWAGTGNVS    139

Q5Z6I4_ORYSJ_    137 RLVVSWRLNFIQSTMMKGMIENGAKQGLKDNYIQFSELLARNIRPVDSK-    185
                     .:.|:.::.:...:|:|.:|:..:..|.|..|.:..|.:.:.:....|: 
Q4P940_USTMA_    140 HVYVTCQVEWSGRSMLKSIIDKASLDGQKQYYKELDEAVRKYLTDHTSEF    189

Q5Z6I4_ORYSJ_    185 -    185
                      
Q4P940_USTMA_    190 K    190


#---------------------------------------
#---------------------------------------
