########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:26
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-17.fasta
#    [-bsequence] data/fastas/85VASTdomains-69.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: C2GR2_ARATH_8491023
# 2: B8C2T9_THAPS_86910
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 207
# Identity:      40/207 (19.3%)
# Similarity:    77/207 (37.2%)
# Gaps:          43/207 (20.8%)
# Score: 108.5
# 
#
#=======================================

C2GR2_ARATH_8      1 --------SDADALMMSKVYTCDLPCDVELVMKIFGGGELERKI----ME     38
                             .|.|.:...|::.    ..:|...|. |..|.:..:    :|
B8C2T9_THAPS_      1 DVPVDSVIKDMDPIFTRKLHN----ISIESYYKT-GWAEEDAPLYGPWLE     45

C2GR2_ARATH_8     39 KSGCLSYASTTWESKKPGV----------YERRLSYKYNHYVSVFGG---     75
                     :.|....:.:.||..|.|.          .:|.:.:|:.....::.|   
B8C2T9_THAPS_     46 RKGSFDVSVSQWEHSKEGFQHSWSGETFHQKRIIRFKFKRTTHLYIGPPV     95

C2GR2_ARATH_8     76 -GVTCAQQKSPAPNDEGWILNEIVALHDVPFGDHFRVHIRYEVKKAGVDC    124
                      ||| ..|......|:..:....|.:..:|:.|.|.|.:|:..::.|  |
B8C2T9_THAPS_     96 AGVT-QTQYCRRDGDDKCVTMMTVEMDGIPYSDVFAVEVRWAARRTG--C    142

C2GR2_ARATH_8    125 KTSKCEVYLKIRWLKTIKFEQRISKSIMEKFRNRFKVIFDLFQKESVANS    174
                     .....:..:.:|::|:..|..:|....:.:.:   .:..|||:...||.|
B8C2T9_THAPS_    143 NDITIDAGVHVRFIKSSMFASKIKSGTLAETK---PIHLDLFEVIKVALS    189

C2GR2_ARATH_8    175 S------    175
                     |      
B8C2T9_THAPS_    190 SGSDNKS    196


#---------------------------------------
#---------------------------------------
