########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:02
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-4.fasta
#    [-bsequence] data/fastas/85VASTdomains-18.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q5Z6I4_ORYSJ_8571036
# 2: B9F3V9_ORYSJ_332515
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 225
# Identity:      38/225 (16.9%)
# Similarity:    70/225 (31.1%)
# Gaps:          86/225 (38.2%)
# Score: 55.0
# 
#
#=======================================

Q5Z6I4_ORYSJ_      1 --------------------------NNESDSFLGIEDAKMSEVFSSTKP     24
                                               ..|.:|.|          ||:...
B9F3V9_ORYSJ_      1 ESKDKGSEMPENLRGGILVDQSYVLQPTEMNSML----------FSAHSD     40

Q5Z6I4_ORYSJ_     25 FDVSTLMSIFEGGPLEHQVMEKIGCMEYSVSPWESVRADAYQRQIHY-KF     73
                     |..:              |.|..|...:...||:.|..|..:|.:.| |.
B9F3V9_ORYSJ_     41 FWPA--------------VAEVQGLSGFQTDPWKLVSNDCLKRTLSYTKA     76

Q5Z6I4_ORYSJ_     74 DKRLARHEGEVMSTQQKSPLPDK-NGWLVEEVMTLEGIPVGEYFNLHMRY    122
                     ..:|.:   .|..|::::.|... |.:.|...::...:|.|..|.:.:.|
B9F3V9_ORYSJ_     77 ASKLVK---AVKITEEQTYLKAAGNSFAVLSSVSSPEVPCGNCFKVEILY    123

Q5Z6I4_ORYSJ_    123 QL---EQISSKPKACNVQVSIGIAWLKSCK------------NRKKIAQ-    156
                     .:   .|:.||.:..::.:|..:.:::|..            .|:..|| 
B9F3V9_ORYSJ_    124 CITPGPQLPSKEQTSHLTISWRLNFVQSTMLKGMIESGTKQGLREGYAQF    173

Q5Z6I4_ORYSJ_    157 -EVLSSASSRLKKMFGLLEKELLPA    180
                      ||||..:..:              
B9F3V9_ORYSJ_    174 TEVLSQKTKVI--------------    184


#---------------------------------------
#---------------------------------------
