########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:42
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-63.fasta
#    [-bsequence] data/fastas/85VASTdomains-48.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q55CZ7_DICDI_2179
# 2: C4M0I0_ENTHI_201371
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 197
# Identity:      37/197 (18.8%)
# Similarity:    65/197 (33.0%)
# Gaps:          45/197 (22.8%)
# Score: 57.5
# 
#
#=======================================

Q55CZ7_DICDI_      1 KILNLEEEFR--------ISVETFFTFFFENANFKQKYHSSRGDNQ---I     39
                           .||:        .||:.|:..|..| ..|:|:.....:.:   |
C4M0I0_ENTHI_      1 ------TEFQPGGETDLDCSVKEFYEKFVRN-EAKEKFKEILAEKELTNI     43

Q55CZ7_DICDI_     40 EVKAWTPTSDNRYTREVSFCSFISNNPVINRLVGDKAKVKEVQHYKYIEN     89
                     .|..|..:....:.|...|...:...|     :|..:....|....|.|.
C4M0I0_ENTHI_     44 NVSDWEVSEQFGFVRSQDFIVPLKGIP-----IGPSSAHAIVNEIYYFEG     88

Q55CZ7_DICDI_     90 GSLYVSSETFFDGSSIGKSFSSVSEWTVSPISNPLPGCK--------VVI    131
                     .:|.:.|.........|.||....:.|:||     .|.|        .|:
C4M0I0_ENTHI_     89 DNLIICSTNQTPDVPYGDSFKLEFKTTISP-----KGEKQCHFVEDFAVV    133

Q55CZ7_DICDI_    132 VVKNNYNGSMFKGVLENWVHDTTEDSFKQWLTLVRQQVEEYEKNEQL    178
                     .:|.    .|.||.:|:   ....::.|....::::.:|:.....  
C4M0I0_ENTHI_    134 FLKK----VMLKGTIES---QGVNNAKKDIDVMIKKYIEKISGKP--    171


#---------------------------------------
#---------------------------------------
