########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:36
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-59.fasta
#    [-bsequence] data/fastas/85VASTdomains-83.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B9F0Z0_ORYSJ_387537
# 2: Q6K8R7_ORYSJ_365458
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 151
# Identity:      85/151 (56.3%)
# Similarity:    89/151 (58.9%)
# Gaps:          57/151 (37.7%)
# Score: 464.0
# 
#
#=======================================

B9F0Z0_ORYSJ_      1 KAFQPFINEHVLVDATSLSKWYPSDEYGGKIREVMFRSLCHSPLCPPDTA     50
                     ||||||||||||||||||||||||||||||||||||||||||||||||||
Q6K8R7_ORYSJ_      1 KAFQPFINEHVLVDATSLSKWYPSDEYGGKIREVMFRSLCHSPLCPPDTA     50

B9F0Z0_ORYSJ_     51 VTEWQRASFSKNKTNLIYETKHQAHDVPFGSYFEIHCRWHLRTTSSSTCQ    100
                     ||||||||||||||||||||||||||||||||||:..:.:|:..      
Q6K8R7_ORYSJ_     51 VTEWQRASFSKNKTNLIYETKHQAHDVPFGSYFEVASKNNLQFN------     94

B9F0Z0_ORYSJ_    101 VDIKIGVNMKKWCILQSKIKSGATDEYRREVCKILEAACDYVLKEESNNQ    150
                                                                       
Q6K8R7_ORYSJ_     94 --------------------------------------------------     94

B9F0Z0_ORYSJ_    151 A    151
                      
Q6K8R7_ORYSJ_     94 -     94


#---------------------------------------
#---------------------------------------
