########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:20
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-12.fasta
#    [-bsequence] data/fastas/85VASTdomains-26.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: C2GR1_ARATH_236423
# 2: YSP2_YEAST_8411021
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 206
# Identity:      42/206 (20.4%)
# Similarity:    75/206 (36.4%)
# Gaps:          43/206 (20.9%)
# Score: 82.0
# 
#
#=======================================

C2GR1_ARATH_2      1 ESKDQGSEP------PSNLSGGVVVDQLFMISPSDLNIVLFASDSSFYAS     44
                             |      ||| :..:|::.........:..:|:..|.|:|..
YSP2_YEAST_84      1 --------PTTADFKPSN-NDHLVIEANINAPLGKVVNLLYGEDVSYYER     41

C2GR1_ARATH_2     45 LTELQGTTEVQIGPWKAENDGESVKRVVSYLKAATKLIKAVKGTEEQTYL     94
                     :.:.|...|:...|     :....|::..|  |.||.:....|..:...|
YSP2_YEAST_84     42 ILKAQKNFEISPIP-----NNFLTKKIRDY--AYTKPLSGSIGPSKTKCL     84

C2GR1_ARATH_2     95 KADG------EVYA-VLASVATPDVPFGGTFKVEVLYCISPGPELPSGEQ    137
                     ..|.      |.|. ||:....||||.|..|.|:.::..|     .....
YSP2_YEAST_84     85 ITDTLEHYDLEDYVKVLSITKNPDVPSGNIFSVKTVFLFS-----WDKNN    129

C2GR1_ARATH_2    138 CSRLVVSWRLNFLQSTMMRGMIENGARQGLKDNFEQYANLLAQSVKPVDS    187
                     .::|.|...:::...:.::.|||.|...|:.|.    ..::...:|.:.|
YSP2_YEAST_84    130 STKLTVYNSVDWTGKSWIKSMIEKGTFDGVADT----TKIMISEIKKILS    175

C2GR1_ARATH_2    188 K-----    188
                     .     
YSP2_YEAST_84    176 DEDSNI    181


#---------------------------------------
#---------------------------------------
