########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:06
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-79.fasta
#    [-bsequence] data/fastas/85VASTdomains-42.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B8BUE2_THAPS_254437
# 2: I7M7X5_TETTS_10131226
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 224
# Identity:      44/224 (19.6%)
# Similarity:    75/224 (33.5%)
# Gaps:          50/224 (22.3%)
# Score: 50.5
# 
#
#=======================================

B8BUE2_THAPS_      1 KVKQQSKDWESA--VANLKLPFP--TVSSFFDTCLSNEARNP--------     38
                       |||| .:|.|  |:..::.||  |....|:.....:...|        
I7M7X5_TETTS_      1 --KQQS-IFEKAQNVSEFEIKFPNATPREIFNILFGLKPYKPQPEGSQEF     47

B8BUE2_THAPS_     39 ----LSIFHGNVMGDKNISIS-------GW----ERDEKAAAAHSDESSS     73
                         ..||. ....|.:|...       .|    :..:|.....|.|.|:
I7M7X5_TETTS_     48 PNFRFYIFQ-EFQKDTDIQFQTFNPPPPEWYTNLDCSDKDTVKSSPEISN     96

B8BUE2_THAPS_     74 RTIRFEHKSR--------VNTAQVTRNQTYRCYGKNACLKNVTNIKGVPS    115
                     ...:..|..|        |:..| .:.:.:....:...::....:..:|.
I7M7X5_TETTS_     97 LEFKVVHPVREKIPFGPKVSYCQ-NKEKYFWISAEEFIIEREIFLSKIPY    145

B8BUE2_THAPS_    116 ADAFFAEDMWLIEPVEDGVVLNVRFRLTFSKSTMLKSIIESRARAETLEW    165
                     .|.|.....:.|..|:|...:.::..:.|.|||..|..||:.:.:|..|.
I7M7X5_TETTS_    146 CDYFTIRFQYNISQVQDQTRILIKLYVHFMKSTTFKGRIENGSLSENTEV    195

B8BUE2_THAPS_    166 YRQYTSFMVAANQRKISTQ-----    184
                     ..     .|...|.:|:.|     
I7M7X5_TETTS_    196 IN-----TVFTPQAQIAIQNYQKF    214


#---------------------------------------
#---------------------------------------
