########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:06
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-79.fasta
#    [-bsequence] data/fastas/85VASTdomains-34.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: B8BUE2_THAPS_254437
# 2: GRM1B_HUMAN_55233
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 205
# Identity:      34/205 (16.6%)
# Similarity:    66/205 (32.2%)
# Gaps:          47/205 (22.9%)
# Score: 42.5
# 
#
#=======================================

B8BUE2_THAPS_      1 KVKQQSKDWESAVANLKLPFPTVSSFFDTCLSNEARNPLSIFHGNVMGDK     50
                                           |.:|::.....:..|.:..|..:.:.|.
GRM1B_HUMAN_5      1 ----------------------VQAFYEDLSGRQYVNEVFNFSVDKLYDL     28

B8BUE2_THAPS_     51 NISISGWERDEKAAAAHSD---------ESSSR------TIRFEHKSRVN     85
                     ..:.|.::||.......||         |:.::      ||...:.....
GRM1B_HUMAN_5     29 LFTNSPFQRDFMEQRRFSDIIFHPWKKEENGNQSRVILYTITLTNPLAPK     78

B8BUE2_THAPS_     86 TAQVTRNQT-YRCYGKNACLKNVTNI--KGVPSADAFFAEDMWLIEPV-E    131
                     ||.|...|| |:...::.|......:  ..||..|.|:..:.:.:..| .
GRM1B_HUMAN_5     79 TATVRETQTMYKASQESECYVIDAEVLTHDVPYHDYFYTINRYTLTRVAR    128

B8BUE2_THAPS_    132 DGVVLNVRFRLTFSKST--MLKSIIESRARAETLEWYRQYTSFMVAANQR    179
                     :...|.|...|.:.|..  ::|:.||....:...:::|...|.:......
GRM1B_HUMAN_5    129 NKSRLRVSTELRYRKQPWGLVKTFIEKNFWSGLEDYFRHLESELAKTEST    178

B8BUE2_THAPS_    180 KISTQ    184
                     .    
GRM1B_HUMAN_5    179 Y----    179


#---------------------------------------
#---------------------------------------
