########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:31
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-20.fasta
#    [-bsequence] data/fastas/85VASTdomains-41.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: A9SDA2_PHYPA_232412
# 2: Q8W4D4_ARATH_391576
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 202
# Identity:      35/202 (17.3%)
# Similarity:    73/202 (36.1%)
# Gaps:          37/202 (18.3%)
# Score: 69.5
# 
#
#=======================================

A9SDA2_PHYPA_      1 -------------VDDFPSPLAGGVVLDQRYAISAKALSSLICKPSSSFF     37
                                  |:          :.:..:|.:.:.:.:::....|::.
Q8W4D4_ARATH_      1 PVKFQAFIKEEVLVN----------IYNDVFASTPEQVLNVLLADDSTYT     40

A9SDA2_PHYPA_     38 QELLTVQKTTEYSEEPWKSVKN-DSIERVVSYMKAATKII--KSVKATE-     83
                     .|..:.:|....:.|||.:.:. |...|.:.:.......:  .....|| 
Q8W4D4_ARATH_     41 NEYRSARKDKNLNIEPWHTAEEYDGQVREIKFRSICNSPMCPPDTAVTEW     90

A9SDA2_PHYPA_     84 THTCRRLDDRGFVLDISCATPDVPCGTSFLVELQFCVMAERDLPVKEKTC    133
                     .|.....|.:..|.:......|||.|:.|.|..::      .|..|::|.
Q8W4D4_ARATH_     91 QHVVLSPDKKVLVFETVQQPHDVPFGSYFEVHCRW------RLEAKDETS    134

A9SDA2_PHYPA_    134 RLL-ISWRIKFLHSTMIKGMIESGARAGIKETYEIFKEILSKYAKPISE-    181
                     .:: |...:.|....:::..|::||....|:..|:..|:...|.|..|. 
Q8W4D4_ARATH_    135 SVIDIRVGVHFKKWCLMQSKIKAGAIDEYKKEVEVMLEVALSYLKSHSSS    184

A9SDA2_PHYPA_    181 --    181
                       
Q8W4D4_ARATH_    185 SS    186


#---------------------------------------
#---------------------------------------
