########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:41:13
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-83.fasta
#    [-bsequence] data/fastas/85VASTdomains-27.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q6K8R7_ORYSJ_365458
# 2: YSP2_YEAST_10461230
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 236
# Identity:      15/236 ( 6.4%)
# Similarity:    20/236 ( 8.5%)
# Gaps:         193/236 (81.8%)
# Score: 34.0
# 
#
#=======================================

Q6K8R7_ORYSJ_      1 KAFQPFINEHVLVDATSLSKWYPSDEYGGKIREVMFRSLCHSPLCPPDTA     50
                                                            .|.|..|    
YSP2_YEAST_10      1 ---------------------------------------VHDPTEP----      7

Q6K8R7_ORYSJ_     51 VTEWQRASFSKNKTNLIYETKHQAHDVPFG-----------SYFEVASKN     89
                            .|.|.|.:.:.:.|... .||.|           ||.:...:|
YSP2_YEAST_10      8 -------DFQKGKDDTVIDEKINI-PVPLGTVFSLLYGDDTSYIKKIIEN     49

Q6K8R7_ORYSJ_     90 NLQFN---------------------------------------------     94
                     ...||                                             
YSP2_YEAST_10     50 QNNFNVCDIPKFVNNAREITYTKKLNNSFGPKQTKCIVTETIEHMDLNSF     99

Q6K8R7_ORYSJ_     94 --------------------------------------------------     94
                                                                       
YSP2_YEAST_10    100 FMVKQIVRSPDVPYGSSFSVHTRFFYSWGDHNTTNMKVVTNVVWTGKSML    149

Q6K8R7_ORYSJ_     94 ------------------------------------     94
                                                         
YSP2_YEAST_10    150 KGTIEKGSIDGQRSSTKQLVDDLKKIISNASSTKKK    185


#---------------------------------------
#---------------------------------------
