########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:47
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-30.fasta
#    [-bsequence] data/fastas/85VASTdomains-35.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: F4HVW5_ARATH_257449
# 2: GRM1B_HUMAN_321502
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 224
# Identity:      38/224 (17.0%)
# Similarity:    67/224 (29.9%)
# Gaps:          73/224 (32.6%)
# Score: 66.0
# 
#
#=======================================

F4HVW5_ARATH_      1 FNWKPEDTDAPKLSSDFT--KVAEAKFSIPVEEFFRLFFSDGAV--SFVE     46
                           :.:......|.:  :.....|:..|::.:.|.|::...  .|:|
GRM1B_HUMAN_3      1 ------EGEVQAFYEDLSGRQYVNEVFNFSVDKLYDLLFTNSPFQRDFME     44

F4HVW5_ARATH_     47 S-------FHKNCGDKEFRCTSWQPHEKLGHTRNVSFQHPIKIYFGAKFG     89
                     .       ||           .|:..|....:|.:.:...:......|..
GRM1B_HUMAN_3     45 QRRFSDIIFH-----------PWKKEENGNQSRVILYTITLTNPLAPKTA     83

F4HVW5_ARATH_     90 GCQESQKFRMYRNSH----LVIETSQEISDVPYADYFTVEGVWDLKRDCR    135
                     ..:|:|  .||:.|.    .||:......||||.|||.....:.|.|..|
GRM1B_HUMAN_3     84 TVRETQ--TMYKASQESECYVIDAEVLTHDVPYHDYFYTINRYTLTRVAR    131

F4HVW5_ARATH_    136 DSVEGCILDVYVNVAFSK-----------RTVWKG-----KIVQSTLEEC    169
                     :...   |.|...:.:.|           :..|.|     :.::|.|.:.
GRM1B_HUMAN_3    132 NKSR---LRVSTELRYRKQPWGLVKTFIEKNFWSGLEDYFRHLESELAKT    178

F4HVW5_ARATH_    170 REAYAHWIRMAHELLKQKKLENQE    193
                     ...|                    
GRM1B_HUMAN_3    179 ESTY--------------------    182


#---------------------------------------
#---------------------------------------
