########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:54
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-35.fasta
#    [-bsequence] data/fastas/85VASTdomains-12.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: GRM1B_HUMAN_321502
# 2: C2GR1_ARATH_236423
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 194
# Identity:      54/194 (27.8%)
# Similarity:    82/194 (42.3%)
# Gaps:          18/194 ( 9.3%)
# Score: 131.0
# 
#
#=======================================

GRM1B_HUMAN_3      1 EGEVQAFY--EDLSGRQYVNEVFNFSVDKLYDLLF-TNSPFQRDFMEQRR     47
                     |.:.|...  .:|||...|:::|..|...|..:|| ::|.|.....|.:.
C2GR1_ARATH_2      1 ESKDQGSEPPSNLSGGVVVDQLFMISPSDLNIVLFASDSSFYASLTELQG     50

GRM1B_HUMAN_3     48 FSDIIFHPWKKEENGNQ-SRVILYTITLTNPLAPKTATVRETQTMYKASQ     96
                     .:::...|||.|.:|.. .||:.|....|..:  |.....|.||..||  
C2GR1_ARATH_2     51 TTEVQIGPWKAENDGESVKRVVSYLKAATKLI--KAVKGTEEQTYLKA--     96

GRM1B_HUMAN_3     97 ESECYVIDAEVLTHDVPYHDYF-----YTINRYTLTRVARNKSRLRVSTE    141
                     :.|.|.:.|.|.|.|||:...|     |.|:...........|||.||..
C2GR1_ARATH_2     97 DGEVYAVLASVATPDVPFGGTFKVEVLYCISPGPELPSGEQCSRLVVSWR    146

GRM1B_HUMAN_3    142 LRYRKQPWGLVKTFIEKNFWSGLEDYFRHLESELAKTESTY---    182
                     |.:.:..  :::..||.....||:|.|....:.||::....   
C2GR1_ARATH_2    147 LNFLQST--MMRGMIENGARQGLKDNFEQYANLLAQSVKPVDSK    188


#---------------------------------------
#---------------------------------------
