########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:26
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-17.fasta
#    [-bsequence] data/fastas/85VASTdomains-4.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: C2GR2_ARATH_8491023
# 2: Q5Z6I4_ORYSJ_8571036
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 182
# Identity:      59/182 (32.4%)
# Similarity:   108/182 (59.3%)
# Gaps:           9/182 ( 4.9%)
# Score: 330.5
# 
#
#=======================================

C2GR2_ARATH_8      1 -SDADALM------MSKVYTCDLPCDVELVMKIFGGGELERKIMEKSGCL     43
                      :::|:.:      ||:|::...|.||..:|.||.||.||.::|||.||:
Q5Z6I4_ORYSJ_      1 NNESDSFLGIEDAKMSEVFSSTKPFDVSTLMSIFEGGPLEHQVMEKIGCM     50

C2GR2_ARATH_8     44 SYASTTWESKKPGVYERRLSYKYNHYVSVFGGGVTCAQQKSPAPNDEGWI     93
                     .|:.:.|||.:...|:|::.||::..::...|.|...|||||.|:..||:
Q5Z6I4_ORYSJ_     51 EYSVSPWESVRADAYQRQIHYKFDKRLARHEGEVMSTQQKSPLPDKNGWL    100

C2GR2_ARATH_8     94 LNEIVALHDVPFGDHFRVHIRYEVKKAGVDCKTSKCEVYLKIRWLKTIKF    143
                     :.|::.|..:|.|::|.:|:||::::.....|....:|.:.|.|||:.|.
Q5Z6I4_ORYSJ_    101 VEEVMTLEGIPVGEYFNLHMRYQLEQISSKPKACNVQVSIGIAWLKSCKN    150

C2GR2_ARATH_8    144 EQRISKSIMEKFRNRFKVIFDLFQKESVANSS    175
                     .::|::.::....:|.|.:|.|.:||.:..  
Q5Z6I4_ORYSJ_    151 RKKIAQEVLSSASSRLKKMFGLLEKELLPA--    180


#---------------------------------------
#---------------------------------------
