########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:02
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-4.fasta
#    [-bsequence] data/fastas/85VASTdomains-48.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q5Z6I4_ORYSJ_8571036
# 2: C4M0I0_ENTHI_201371
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 225
# Identity:      37/225 (16.4%)
# Similarity:    64/225 (28.4%)
# Gaps:          99/225 (44.0%)
# Score: 48.0
# 
#
#=======================================

Q5Z6I4_ORYSJ_      1 ------------------------NNESDSF-----------LGIEDAKM     15
                                             |...:.|           :.:.|.::
C4M0I0_ENTHI_      1 TEFQPGGETDLDCSVKEFYEKFVRNEAKEKFKEILAEKELTNINVSDWEV     50

Q5Z6I4_ORYSJ_     16 SEVFSSTKPFD-VSTLMSIFEGGPLEHQVMEKIGCMEYSVSPWESVRADA     64
                     ||.|...:..| :..|..|..|....|.::.:|                 
C4M0I0_ENTHI_     51 SEQFGFVRSQDFIVPLKGIPIGPSSAHAIVNEI-----------------     83

Q5Z6I4_ORYSJ_     65 YQRQIHYKFDKRLARHEGE---VMSTQQKSPLPDKNGWLVEEVMTLEGIP    111
                           |.|       ||:   :.||.|   .||              :|
C4M0I0_ENTHI_     84 ------YYF-------EGDNLIICSTNQ---TPD--------------VP    103

Q5Z6I4_ORYSJ_    112 VGEYFNLHMRYQLEQISSK-PKACNVQVSIGIAWLKSCKNRKKIAQEVLS    160
                     .|:.|.|..:   ..||.| .|.|:......:.:||....:..|..:.::
C4M0I0_ENTHI_    104 YGDSFKLEFK---TTISPKGEKQCHFVEDFAVVFLKKVMLKGTIESQGVN    150

Q5Z6I4_ORYSJ_    161 SASSRLKKMFGLLEKELLPA-----    180
                     :|    ||...::.|:.:..     
C4M0I0_ENTHI_    151 NA----KKDIDVMIKKYIEKISGKP    171


#---------------------------------------
#---------------------------------------
