########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:40:28
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-54.fasta
#    [-bsequence] data/fastas/85VASTdomains-7.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: Q8MKJ8_DROME_144324
# 2: Q22US2_TETTS_9321154
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 246
# Identity:      51/246 (20.7%)
# Similarity:    79/246 (32.1%)
# Gaps:          88/246 (35.8%)
# Score: 56.0
# 
#
#=======================================

Q8MKJ8_DROME_      1 --------------EDLTAR-----CSASHEGRKLLQERLMVRVDALF--     29
                                   |::|.|     |....:.:......:   .|..|  
Q22US2_TETTS_      1 ETFKFELCDVILKGENITIRDVFQACLGDFQYQNPSTNTV---YDNFFYY     47

Q8MKJ8_DROME_     30 ---NML---------FSASP---FLQS---FHERRKSTDLNMGVWARNAG     61
                        |::         :|..|   |.|.   |.|..:.....:..|...: 
Q22US2_TETTS_     48 YIENVMKCWNIQIEKWSPPPPQYFQQQNYPFSEENEKKKEKVQDWIEIS-     96

Q8MKJ8_DROME_     62 GQNQRTVSMTVALQANVG----PKTAKITETQTMRECSQPGQLYSIDVQS    107
                      |.|.|...|:.|.   |    ||..|::|.|.:...|....::.::..|
Q22US2_TETTS_     97 -QRQVTYDKTIPLS---GMPFLPKFCKVSEKQKIIFISPDELIFELEAYS    142

Q8MKJ8_DROME_    108 VNADIPYADTFVVLMHFCLKATVEEHTDVL---VFAEIQFLKSVW-----    149
                     ..|  |..|||   .||.....|:...|.:   |..:::||||.|     
Q22US2_TETTS_    143 SGA--PMTDTF---YHFIRNTFVQLTPDTVSYKVQMDVRFLKSNWFSGTI    187

Q8MKJ8_DROME_    150 -------------AVVKTFIERNAYAGLEEFCQSLYSALLIEIRK-    181
                                  .:.|:|.||     |.:|.|...     |.|: 
Q22US2_TETTS_    188 DSQSQKEGVKSTQEIYKSFQER-----LTQFLQDKN-----EKRRN    223


#---------------------------------------
#---------------------------------------
