########################################
# Program: needle
# Rundate: Tue  8 Dec 2015 15:39:32
# Commandline: needle
#    [-asequence] data/fastas/85VASTdomains-21.fasta
#    [-bsequence] data/fastas/85VASTdomains-19.fasta
#    [-outfile] stdout
#    -gapopen 10.0
#    -gapextend 0.5
# Align_format: srspair
# Report_file: stdout
########################################

#=======================================
#
# Aligned_sequences: 2
# 1: A9SDA2_PHYPA_8171004
# 2: B9F3V9_ORYSJ_8991075
# Matrix: EBLOSUM62
# Gap_penalty: 10.0
# Extend_penalty: 0.5
#
# Length: 188
# Identity:      49/188 (26.1%)
# Similarity:    97/188 (51.6%)
# Gaps:          11/188 ( 5.9%)
# Score: 212.0
# 
#
#=======================================

A9SDA2_PHYPA_      1 QSCTDSFAGMEEANMAQVCAFEIPLMSDCAMSLFEQGGLEEAMAEKMGYL     50
                         .|....|:..|::|.:..:.:..:..|.:|..|.||..:.:|.|.:
B9F3V9_ORYSJ_      1 ----GSLLANEDVKMSEVYSAVLSVDINSLMDMFSGGPLEHKVMQKAGCV     46

A9SDA2_PHYPA_     51 NYVSTPWERLEGQNGVQRRHTSYHLNRQISQFGSKVSCIQQRTMSDSMKS    100
                     :|..|.||.| .|| :.:|..|:..::.:|:|| :.|..|::....:...
B9F3V9_ORYSJ_     47 DYSPTEWELL-NQN-IYQRQISFKFDKILSRFG-EASTTQRKYNLANRDG     93

A9SDA2_PHYPA_    101 CVLDEVITLHDVPFGDHFQVQVRREIETTSTNPPQSFVKASVGVSWHKNT    150
                     .|::||:||..|...|:..:|::.::.:||..|....::..:|::|.|..
B9F3V9_ORYSJ_     94 WVIEEVMTLQGVQHEDYSSIQLKYQMTSTSLKPSTCSIQVLLGIAWLKGA    143

A9SDA2_PHYPA_    151 EFKKKITKNVHDHMAKEIREVMNVCVKEVKARIKDKRI    188
                     :.:||:.|||..:.|..:||:.:...||:.::..    
B9F3V9_ORYSJ_    144 KQQKKVVKNVMSNSANRLREIFSEVEKELASKKG----    177


#---------------------------------------
#---------------------------------------
